<div class="bg-transparent">
    <div class="flex flex-col bg-content rounded-xl px-5 py-5 my-8 shadow-card dark:bg-content-dark dark:shadow-none">

        <div class="py-2 inline-block min-w-full sm:px-0">
            <div class="overflow-hidden">
                <h1 class="text-xl text-slate-500 dark:text-white font-semibold"> จัดการ ฝ่าย/แผนก</h1>
            </div>
        </div>

        <form [formGroup]="sectorManageForm">
            <div
                class="text-[#566a7f] rounded-md mt-5 mb-3 shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526]">

                <div class="grid grid-cols-3 gap-4">
                    <div class="flex justify-center items-center  mb-6">
                        <label class="flex-initial self-center w-28">บริษัท :</label>
                        <mat-radio-group aria-label="Select an option" formControlName="company"
                            (change)="loadSpecificCompanySectors()">
                            <mat-radio-button class="mr-4" value="PCCTH">PCCTH</mat-radio-button>
                            <mat-radio-button class="mr-4" value="WiseSoft">WiseSoft</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>

                <div class="grid grid-cols-3 gap-4">
                    <!-- เนื้อหาภายในกริดจะถูกวางใน 3 คอลัมน์ โดยมีระยะห่าง 3 หน่วยระหว่างคอลัมน์และแถว -->

                    <div class="flex justify-center items-center"> <!-- ใช้ space-x-4 เพิ่มระยะห่างระหว่างองค์ประกอบ -->
                        <label for="" class="flex-initial self-center w-28">ฝ่าย (ภาษาไทย):</label>
                        <!-- w-28 เลขน้อยขยับชิดซ้าย -->
                        <mat-form-field appearance="fill">
                            <mat-label>ระบุชื่อฝ่ายเป็นภาษาไทย</mat-label>
                            <input matInput formControlName="sectorTname">
                        </mat-form-field>
                    </div>


                    <div class="flex items-center">
                        <label for="" class="w-40 flex-shrink-0">ฝ่าย (ภาษาอังกฤษ):</label>
                        <mat-form-field appearance="fill" class="flex-grow">
                            <mat-label>ระบุชื่อฝ่ายเป็นภาษาอังกฤษ</mat-label>
                            <input matInput formControlName="sectorEname">
                        </mat-form-field>
                    </div>

                    <div class="flex items-center space-x-4 justify-end">
                        <label for="" class="flex-initial self-center w-18">รหัสฝ่าย:</label>
                        <mat-form-field appearance="fill">
                            <mat-label>รหัสฝ่าย</mat-label>
                            <input matInput formControlName="sectorCode">
                        </mat-form-field>
                    </div>

                </div>

                <div class="grid grid-cols-3 gap-4">

                    <div class="flex justify-start">
                        <label for="" class="flex-initial self-center">แผนก (ภาษาไทย):</label>
                        <mat-form-field appearance="fill" style="margin-left: 16px;">
                            <mat-label>ระบุชื่อแผนกเป็นภาษาไทย</mat-label>
                            <input matInput formControlName="deptTname">
                        </mat-form-field>
                    </div>

                    <div class="flex items-center">
                        <!--items-center ใช้เพื่อจัดแนวแนวตั้งของเนื้อหาภายใน flex container ให้ตรงกลาง-->
                        <label for="" class="w-40 flex-shrink-0">แผนก (ภาษาอังกฤษ):</label>
                        <!--w-40 ตั้งค่าความกว้างของlabel flex-shrink-0 ป้องกันไม่ให้ <label> หดตัว - flex-grow ทำให้ <mat-form-field> ขยายเพื่อเติมพื้นที่ที่เหลือ-->
                        <mat-form-field appearance="fill" class="flex-grow">
                            <mat-label>ระบุชื่อแผนกเป็นภาษาอังกฤษ</mat-label>
                            <input matInput formControlName="deptEname">
                        </mat-form-field>
                    </div>

                    <div class="flex items-center space-x-4 justify-end">
                        <label for="" class="flex-initial self-center w-18">รหัสและไอดี:</label>
                        <mat-form-field appearance="fill" class="small-form-field">
                            <!--css - class="small-form-field"-->
                            <mat-label>รหัสแผนก</mat-label>
                            <input matInput formControlName="deptCode">
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="small-form-field">
                            <mat-label>ไอดีแผนก</mat-label>
                            <input matInput formControlName="deptId">
                        </mat-form-field>
                    </div>

                </div>

                <div class="grid grid-cols-3 gap-4">
                    <div class="flex justify-center items-center">
                        <label for="" class="flex-initial self-center w-28">ผู้ดูแลแผนก:</label>
                        <!-- <form [formGroup]="sectorManageForm"> -->
                        <mat-form-field class="example-full-width" appearance="fill">
                            <mat-label>ระบุชื่อผู้ดูแลแผนก</mat-label>
                            <input matInput formControlName="deptManage" [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                    {{option}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                        <!-- </form> -->
                    </div>
                </div>

                <div class="flex justify-center my-2 gap-4"> <!--gap ระยะห่างเท่ากัน-->
                    <div>
                        <button mat-raised-button
                        [ngClass]="{'bg-[#8d918d]': !isEditing, 'bg-[#235d3a]': isEditing}"  
                        class="text-white py-2 px-4 rounded flex items-center"
                            (click)="isEditing ? editSectorDept() : createSectorDept()"
                            type="button">
                            <span class="text-white">{{ isEditing ? 'แก้ไขข้อมูล' : 'เพิ่มข้อมูล' }}</span>
                        </button>
                    </div>
                    <div>
                        <button mat-raised-button class="bg-[#dfa006] text-white py-2 px-4 rounded flex items-center"
                            (click)="clearForm()" type="button">
                            <i class='bx bx-revision text-white mr-2'></i>
                            <span class="text-white">เคลียร์ข้อมูล</span>
                        </button>
                    </div>
                    <div *ngIf="showDeleteButton">
                        <button mat-raised-button class="bg-[#ba0900] text-white" (click)="deleteData()">
                            <i class='bx bx-trash text-white mr-2' ></i>
                            <span class="text-white">ลบข้อมูล</span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!-- Table -->

    <table mat-table [dataSource]="dataManageCompany" class="mat-elevation-z8 w-full overflow-x-auto ">

        <!--  -->
        <ng-container matColumnDef="sectorTname">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-black  text-[16px] !text-center"> ฝ่าย (ภาษาไทย)
            </th>
            <td mat-cell *matCellDef="let element" class="justify-center !text-center" (click)="onRowClick(element)"> {{element.sectorTname || '-'}}
            </td>
        </ng-container>

        <!-- Column -->
        <ng-container matColumnDef="sectorFullName">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-black text-[16px] !text-center"> ฝ่าย
                (ภาษาอังกฤษ) </th>
            <td mat-cell *matCellDef="let element" class="justify-center !text-center" (click)="onRowClick(element)"> {{element.sectorFullName ||
                '-'}} </td>
        </ng-container>

        <!--  Column -->
        <ng-container matColumnDef="sectorCode">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-black text-[16px] !text-center"> รหัสฝ่าย </th>
            <td mat-cell *matCellDef="let element" class=" !text-center" (click)="onRowClick(element)"> {{element.sectorCode || '-'}} </td>
        </ng-container>

        <!--  Column -->
        <ng-container matColumnDef="department.deptTname">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-black text-[16px] !text-center"> แผนก (ภาษาไทย)
            </th>
            <td mat-cell *matCellDef="let element" class=" !text-center" (click)="onRowClick(element)"> {{element.department.deptTname || '-' }} </td>
        </ng-container>

        <!--  Column -->
        <ng-container matColumnDef="department.deptFullName">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-black text-[16px] !text-center"> แผนก
                (ภาษาอังกฤษ) </th>
            <td mat-cell *matCellDef="let element" class=" !text-center" (click)="onRowClick(element)"> {{element.department.deptFullName || '-'}}
            </td>
        </ng-container>

        <!--  Column -->
        <ng-container matColumnDef="department.deptName">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-black text-[16px] !text-center">รหัสแผนก</th>
            <td mat-cell *matCellDef="let element" class=" !text-center" (click)="onRowClick(element)"> {{element.department.deptName || '-'}} </td>
        </ng-container>

        <!--  Column -->
        <ng-container matColumnDef="department.deptCode">
            <th mat-header-cell *matHeaderCellDef class="font-bold text-black text-[16px] !text-center">ไอดีแผนก</th>
            <td mat-cell *matCellDef="let element" class=" !text-center" (click)="onRowClick(element)"> {{element.department.deptCode || '-'}} </td>
        </ng-container>

       <!--Delete  Column -->
       <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="font-bold text-black text-[16px] !text-center">ลบข้อมูล</th>
        <td mat-cell *matCellDef="let element" class=" !text-center">
            <button mat-icon-button (click)="deleteDataRow(element)">
                <i class='bx bx-trash' ></i>
            </button>
        </td>
    </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="cursor-pointer hover:bg-gray-200" ></tr>

    </table>

    <mat-paginator class="mat-elevation-z8 " [length]="dataManageCompany.data.length" [pageSize]="10"
        [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>



</div>