<div class="bg-transparent">
  <div class="grid grid-flow-row gap-4 sm:grid-cols-1 md:grid-cols-2 md:gap-6 xl:grid-cols-3">
    <div>
      <a href="http://code.pccth.com/sonarqube/" target="_blank" class="flex items-start rounded-md h-36 p-7 shadow-card gap-x-6 sm:h-32 bg-content dark:bg-content-dark dark:shadow-none">
        <div>
          <div class="px-4 py-3 bg-[#e7e7ff] text-font-link rounded-md">
            <em class="text-2xl bx bx-book-alt"></em>
          </div>
        </div>
        <div class="-mt-2">
          <h3 class="text-[1.35rem] font-medium text-font-header dark:text-font-header-dark">ระบบงาน Data Project</h3>
          <p class="text-sm text-font-description dark:text-font-description-dark">วิเคราะห์ข้อมูล Code Review as A service</p>
        </div>
      </a>
    </div>
    <div>
      <a href="https://data.pccth.com/" target="_blank" class="flex items-start rounded-md h-36 p-7 shadow-card gap-x-6 sm:h-32 bg-content dark:bg-content-dark dark:shadow-none">
        <div>
          <div class="px-4 py-3 bg-[#e7e7ff] text-font-link rounded-md">
            <em class="text-2xl bx bx-book-alt"></em>
          </div>
        </div>
        <div class="-mt-2">
          <h3 class="text-[1.35rem] font-medium text-font-header dark:text-font-header-dark">ระบบเอกสาร CMMI</h3>
          <p class="text-sm text-font-description dark:text-font-description-dark">บริการข้อมูลเอกสาร CMMI ของการพัฒนาระบบงาน</p>
        </div>
      </a>
    </div>
    <div>
      <a href="http://redmine.pccth.com/redmine/" target="_blank" class="flex items-start rounded-md h-36 p-7 shadow-card gap-x-6 sm:h-32 bg-content dark:bg-content-dark dark:shadow-none">
        <div>
          <div class="px-4 py-3 bg-[#e7e7ff] text-font-link rounded-md">
            <em class="text-2xl bx bx-book-alt"></em>
          </div>
        </div>
        <div class="-mt-2">
          <h3 class="text-[1.35rem] font-medium text-font-header dark:text-font-header-dark">ระบบงาน Red Mine</h3>
          <p class="text-sm text-font-description dark:text-font-description-dark">การจัดการข้อมูลโครงการ การพัฒนาระบบงาน</p>
        </div>
      </a>
    </div>
    <div>
      <a href="https://data.pccth.com/" target="_blank" class="flex items-start rounded-md h-36 p-7 shadow-card gap-x-6 sm:h-32 bg-content dark:bg-content-dark dark:shadow-none">
        <div>
          <div class="px-4 py-3 bg-[#e7e7ff] text-font-link rounded-md">
            <em class="text-2xl bx bx-book-alt"></em>
          </div>
        </div>
        <div class="-mt-2">
          <h3 class="text-[1.35rem] font-medium text-font-header dark:text-font-header-dark">ระบบเอกสาร Technical Blog</h3>
          <p class="text-sm text-font-description dark:text-font-description-dark">เขียนบทความ หรือ กระบวนการ Code Review</p>
        </div>
      </a>
    </div>
  </div>
</div>
