<div
  class="bg-transparent dark:text-font-description-dark text-font-description space-y-8"
>
  <!-- forms field -->
  <div class="">
    <h1 class="text-2xl">บันทึกการส่งพนักงานเข้ารับการฝึกอบรม</h1>
    <form
      [formGroup]="trainingForm"
      class="bg-content dark:bg-content-dark rounded-md drop-shadow-md p-4 space-y-4"
    >
      <h1 class="text-xl">ส่วนที่ 1 : การส่งพนักงานเข้ารับการฝึกอบรม</h1>
      <!-- Company select layout -->
      <div class="flex justify-start items-center gap-4">
        <p>บริษัท</p>
        <mat-radio-group
          (change)="filterDeptByCompanyName($event.value)"
          formControlName="company"
          class="!text-font-description dark:!text-font-description-dark"
          aria-label="Select an option"
        >
          <mat-radio-button class="mr-4" value="PCCTH">PCCTH</mat-radio-button>
          <mat-radio-button value="WiseSoft">WiseSoft</mat-radio-button>
        </mat-radio-group>
      </div>
      <!-- Date and time select layout -->

      <!-- department , sector slector and Date of Addmission -->
      <div class="flex justify-center items-center gap-4">
        <p>ฝ่าย/แผนก</p>
        <mat-form-field appearance="fill">
          <mat-label>เลือกแผนก</mat-label>
          <mat-select
            (selectionChange)="generateDeptCode($event.value)"
            formControlName="deptCode"
          >
            <mat-option
              *ngFor="let deptCode of mngDeptListShow"
              [value]="deptCode.deptName"
            >
              {{ deptCode.deptName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p>รหัสฝ่าย/แผนก</p>
        <mat-form-field class="" appearance="fill">
          <mat-label>รหัสฝ่าย/แผนก</mat-label>
          <input formControlName="deptId" matInput readonly />
        </mat-form-field>
        <p>วัน/เดือน/ปี</p>
        <mat-form-field appearance="fill">
          <mat-label>เลือกวันที่</mat-label>
          <input
            formControlName="addMissionDate"
            matInput
            [matDatepicker]="picker"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Type forms select -->
      <div class="flex justify-center">
        <mat-radio-group
          formControlName="formsType"
          class="!text-font-description dark:!text-font-description-dark"
          aria-label="Select an option"
        >
          <mat-radio-button class="mr-4" value="training"
            >ฝึกอบรม/สัมมนา</mat-radio-button
          >
          <mat-radio-button value="getCertificate"
            >สอบ Certificate</mat-radio-button
          >
        </mat-radio-group>
      </div>

      <!-- Course Forms -->
      <div class="flex justify-center">
        <div class="grid grid-cols-2 gap-4 gap-x-8">
          <!-- left -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>หัวข้อในการอบรม/สัมมนา</p>
            <mat-form-field appearance="fill">
              <mat-label>หัวข้อในการอบรม/สัมมนา</mat-label>
              <mat-select
                (selectionChange)="generateCourseForms($event.value)"
                formControlName="courseName"
              >
                <mat-option
                  *ngFor="let course of courseList"
                  [value]="course.courseName"
                >
                  {{ course.courseName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- right -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>วัตถุประสงค์ในการอบรม/สัมมนา</p>
            <mat-form-field appearance="fill">
              <mat-label>วัตถุประสงค์ในการอบรม/สัมมนา</mat-label>
              <input formControlName="courseObjective" matInput />
            </mat-form-field>
          </div>

          <!-- left -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>วันเวลาฝึกอบรม</p>
            <mat-form-field appearance="fill">
              <mat-label>วันเวลาฝึกอบรม</mat-label>
              <input formControlName="courseDuration" matInput readonly />
            </mat-form-field>
          </div>

          <!-- right -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>เพิ่มเติม</p>
            <mat-form-field appearance="fill">
              <mat-label>เพิ่มเติม</mat-label>
              <input formControlName="courseDescription" matInput readonly />
            </mat-form-field>
          </div>

          <!-- left -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>โครงการ</p>
            <mat-form-field appearance="fill">
              <mat-label>โครงการ</mat-label>
              <input formControlName="courseProject" matInput />
            </mat-form-field>
          </div>

          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>ค่าใช้จ่าย/คน</p>
            <mat-form-field appearance="fill">
              <mat-label>ค่าใช้จ่าย/คน (ก่อน Vat7%)</mat-label>
              <input formControlName="coursePrice" matInput readonly />
            </mat-form-field>
          </div>

          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>สถาบันที่จัดอบรม</p>
            <mat-form-field appearance="fill">
              <mat-label>สถาบันที่จัดอบรม</mat-label>
              <input formControlName="courseTeacher" matInput readonly />
            </mat-form-field>
          </div>

          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>สถานที่ฝึกอบรม</p>
            <mat-form-field appearance="fill">
              <mat-label>สถานที่ฝึกอบรม</mat-label>
              <input formControlName="courseLocation" matInput readonly />
            </mat-form-field>
          </div>

          <!-- center input -->
          <div class="col-span-2">
            <mat-radio-group
              formControlName="budgetType"
              class="!grid !grid-cols-2 !gap-8"
              aria-label="Select an option"
            >
              <div class="!col-span-1 !flex !justify-end !items-center">
                <mat-radio-button value="อยู่ในงบประมาณ"
                  >อยู่ในงบประมาณ</mat-radio-button
                >
              </div>

              <div class="flex items-center gap-2">
                <mat-radio-button
                  class="!col-span-1 !gap-2 !flex !justify-end"
                  value="อื่นๆ"
                  >อื่นๆ (กรุณาระบุรายละเอียด)
                </mat-radio-button>
                <mat-form-field class="example-full-width" appearance="fill">
                  <mat-label>รายละเอียด</mat-label>
                  <textarea
                    formControlName="budgetDescription"
                    matInput
                  ></textarea>
                </mat-form-field>
              </div>
            </mat-radio-group>
          </div>
        </div>
      </div>

      <!-- employee Detail -->
      <h1 class="underline text-xl">รายละเอียดเกี่ยวกับผู้เข้ารับการอบรม</h1>
      <div class="flex justify-center items-center gap-4">
        <p>รหัสพนักงาน</p>
        <mat-form-field class="" appearance="fill">
          <mat-label>รหัสพนักงาน</mat-label>
          <input formControlName="employeeId" matInput readonly />
        </mat-form-field>
        <p>ชื่อ-สกุลผู้เข้ารับการอบรม/สัมมนา</p>
        <mat-form-field class="" appearance="fill">
          <mat-label>ชื่อ-สกุลผู้เข้ารับการอบรม/สัมมนา </mat-label>
          <input
            type="text"
            formControlName="employeeName"
            matInput
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            (optionSelected)="generateEmpDetails($event.option.value)"
            autoActiveFirstOption
            #auto="matAutocomplete"
          >
            <mat-option
              *ngFor="let option of empNameListFiltered | async"
              [value]="option"
            >
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <p>ตำแหน่งผู้เข้ารับการอบรม</p>
        <mat-form-field class="" appearance="fill">
          <mat-label>ตำแหน่งผู้เข้ารับการอบรม</mat-label>
          <input formControlName="employeePosition" matInput readonly />
        </mat-form-field>
      </div>

      <!-- Approver field -->
      <h1 class="underline text-xl">ผู้อนุมัติการอบรม</h1>
      <div class="flex justify-center">
        <div class="grid grid-cols-2 gap-4 gap-x-8">
          <!-- left -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>หัวหน้างาน</p>
            <mat-form-field appearance="fill">
              <mat-label>หัวหน้างาน</mat-label>
              <mat-select formControlName="approverName">
                <mat-option
                  *ngFor="let emp of approversList"
                  [value]="emp.empCode"
                >
                  <span>คุณ {{ emp.firstname }} {{ emp.lastname }}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <!-- right -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>ผู้บังคับบัญชา</p>
            <mat-form-field appearance="fill">
              <mat-label>ผู้บังคับบัญชา</mat-label>
              <mat-select formControlName="managerName">
                <mat-option
                  *ngFor="let emp of managersList"
                  [value]="emp.empCode"
                  ><span
                    >คุณ {{ emp.firstname }} {{ emp.lastname }}</span
                  ></mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- left -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>ผู้บริหาร</p>
            <mat-form-field appearance="fill">
              <mat-label>ผู้บริหาร</mat-label>
              <mat-select formControlName="vicePresName">
                <mat-option
                  [value]="emp.empCode"
                  *ngFor="let emp of vicePresList"
                  ><span
                    >คุณ {{ emp.firstname }} {{ emp.lastname }}</span
                  ></mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- right -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>ผู้บริหารคนที่ 2 (ถ้ามี)</p>
            <mat-form-field appearance="fill">
              <mat-label>ผู้บริหารคนที่ 2</mat-label>
              <mat-select formControlName="vicePresName2">
                <mat-option
                  [value]="emp.empCode"
                  *ngFor="let emp of vicePresList"
                  ><span
                    >คุณ {{ emp.firstname }} {{ emp.lastname }}</span
                  ></mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>

          <!-- left -->
          <div class="col-span-1 gap-2 flex items-center justify-end">
            <p>กรรมการผู้จัดการ</p>
            <mat-form-field appearance="fill">
              <mat-label>กรรมการผู้จัดการ</mat-label>
              <mat-select formControlName="presidentName">
                <mat-option
                  [value]="emp.empCode"
                  *ngFor="let emp of presidentsList"
                  ><span
                    >คุณ {{ emp.firstname }} {{ emp.lastname }}</span
                  ></mat-option
                >
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-span-2 flex justify-end items-center">
            <button
              (click)="clearApproverForms()"
              mat-button
              class="!bg-red-600 hover:!bg-red-500 dark:!bg-red-700 dark:hover:!bg-red-600"
              color="warn"
              type="button"
            >
              <span class="text-white dark:text-white flex gap-2 items-center"
                ><i class="bx bx-revision"></i>เคลียร์ฟอร์มผู้อนุมัติ</span
              >
            </button>
          </div>
        </div>
      </div>

      <!-- File table -->
      <div class="w-full space-y-4">
        <span
          class="text-blue-700 underline cursor-pointer hover:text-blue-600 dark:text-blue-600 dark:hover:text-blue-500"
          (click)="tableToggle = !tableToggle"
        >
          {{ tableToggle ? "แสดงตารางอัปโหลดไฟล์" : "ซ่อนตารางอัปโหลดไฟล์" }}
        </span>

        <div class="w-full space-y-4" [ngClass]="{ hidden: tableToggle }">
          <button
            type="button"
            class="!text-white !bg-green-700 hover:!bg-green-600"
            mat-flat-button
            (click)="openFileDialog()"
          >
            <span class="text-white dark:text-white"
              >เลือกไฟล์ <i class="bx bx-upload"></i
            ></span>
          </button>
          <input
            type="file"
            #fileInput
            (change)="onFileSelected($event)"
            multiple
            hidden
          />
          <table class="table-auto w-full rounded-md">
            <thead class="bg-blue-200 p-2 dark:bg-[#3a3b3c]">
              <tr class="p-4">
                <th class="text-start p-4 text-white">
                  <span class="font-semibold">ไฟล์</span>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody
              class="bg-white divide-y divide-gray-200 dark:bg-[#3a3b3c] dark:divide-gray-700"
            >
              <tr *ngFor="let file of selectedFile; let i = index">
                <td class="p-2">{{ file.name }}</td>
                <td class="p-4">
                  <button
                    type="button"
                    mat-button
                    color="warn"
                    class="bg-red-600 dark:bg-red-700 hover:bg-red-500"
                    (click)="removeFile(i)"
                  >
                    <span class="text-white"
                      >ลบ <i class="bx bx-trash"></i
                    ></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <!-- remark layout -->
      <div class="flex gap-2 items-start">
        <div>
          <p class=""><span class="underline">หมายเหตุ</span><span> :</span></p>
        </div>
        <div>
          <p>1. กรุณาแนบรายละเอียดเกี่ยวกับหลักสูตรการฝึกอบรม/สัมมนา</p>
          <p>2. กรุณาส่งแบบฟอร์มนี้ ก่อนเข้ารับการอบรมอย่างน้อย 5 วันทำการ</p>
        </div>
      </div>

      <div class="w-full flex justify-end">
        <button
          [disabled]="trainingForm.invalid"
          (click)="pushToTable()"
          [ngClass]="{
            '!bg-green-500 dark:!bg-green-600': trainingForm.valid,
            '!bg-green-300 !cursor-not-allowed': trainingForm.invalid
          }"
          mat-raised-button
        >
          <span class="!text-white"
            >เพิ่มฟอร์ม <i class="bx bx-vertical-bottom"></i
          ></span>
        </button>
      </div>
    </form>
  </div>

  <div class="">
    <h1 class="text-2xl">ฟอร์มที่ส่งอบรม</h1>
    <app-traing-create-forms-table></app-traing-create-forms-table>
  </div>
</div>
