<div
  class="text-[#566a7f] mt-5 mb-3 rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526]"
>
  <p class="text-2xl text-font-header mt-5 mb-3">รายละเอียดข้อมูลงบประมาณ</p>

  <form [formGroup]="BudgetWellfareForm">
    <div class="flex flex-col lg:flex-row">
      <mat-label class="self-center w-full lg:w-[25%]" for="level"
        >ระดับพนักงาน (Level)</mat-label
      >
      <mat-form-field appearance="fill" class="w-full lg:w-[75%] mx-3">
        <input
          matInput
          id="level"
          formControlName="level"
          type="text"
          placeholder="กรอกระดับพนักงาน"
        />
      </mat-form-field>
    </div>

    <div class="flex flex-col lg:flex-row">
      <mat-label class="self-center w-full lg:w-[25%]" for="opd"
        >OPD (ผู้ป่วยนอก)</mat-label
      >
      <mat-form-field appearance="fill" class="w-full lg:w-[75%] mx-3">
        <input
          matInput
          id=" opd"
          formControlName="opd"
          type="text"
          (input)="formatNumber($event)"
          placeholder="0.00"
        />
      </mat-form-field>
    </div>

    <div class="flex flex-col lg:flex-row">
      <mat-label class="self-center w-full lg:w-[25%]" for="ipd"
        >IPD (ผู้ป่วยใน)</mat-label
      >
      <mat-form-field appearance="fill" class="w-full lg:w-[75%] mx-3">
        <input
          matInput
          id="ipd"
          formControlName="ipd"
          type="text"
          (input)="formatNumber($event)"
          placeholder="0.00"
        />
      </mat-form-field>
    </div>

    <div class="flex flex-col lg:flex-row">
      <mat-label class="self-center w-full lg:w-[25%]" for="room"
        >ค่าห้อง+ค่าอาหาร</mat-label
      >
      <mat-form-field appearance="fill" class="w-full lg:w-[75%] mx-3">
        <input
          matInput
          id="room"
          formControlName="room"
          type="text"
          (input)="formatNumber($event)"
          placeholder="0.00"
        />
      </mat-form-field>
    </div>
    <div class="flex justify-end mr-3">
      <button
        mat-stroked-button
        color="primary"
        class="w-full lg:w-[9%] clear-button"
        *ngIf="!editingMode"
        type="button"
        (click)="onSave()"
      >
        <i class="bx bx-book-add"></i>
        <span>เพิ่มข้อมูล</span>
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="w-full lg:w-[9%] clear-button2 !mr-1"
        *ngIf="editingMode"
        type="button"
        (click)="onEditButtonClick()"
      >
        <i class="bx bx-book-add"></i>
        <span>อัปเดต</span>
      </button>

      <button
        mat-stroked-button
        color="primary"
        class="w-full lg:w-[9%] clear-button1"
        *ngIf="editingMode"
        type="button"
        (click)="closeEditModal()"
      >
        <i class="bx bx-book-add"></i>
        <span>ปิด</span>
      </button>
    </div>
  </form>
</div>
<div
  class="text-[#566a7f] mt-5 mb-3 rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526]"
>
  <div class="w-full overflow-x-auto">
    <table
      mat-table
      class="mat-elevation-z8 !shadow-md"
      [dataSource]="dataSource"
    >
      <!-- NO Column -->
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        >
          ลำดับที่
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        >
          {{ element.no }}
        </td>
      </ng-container>

      <!-- level Column -->
      <ng-container matColumnDef="level">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        >
          ระดับพนักงาน
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        >
          {{ element.level }}
        </td>
      </ng-container>

      <!-- opd Column -->
      <ng-container matColumnDef="opd">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        >
          ผู้ป่วยนอก
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        >
          {{ element.opd | number : "1.2-2" }}
        </td>
      </ng-container>

      <!-- ipd Column -->
      <ng-container matColumnDef="ipd">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        >
          ผู้ป่วยใน
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        >
          {{ element.ipd | number : "1.2-2" }}
        </td>
      </ng-container>

      <!-- room Column -->
      <ng-container matColumnDef="room">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        >
          ค่าห้อง/ค่าอาหาร/วัน
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        >
          {{ element.room | number : "1.2-2" }}
        </td>
      </ng-container>

      <!-- edit and delete Column -->
      <ng-container matColumnDef="edit">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        ></th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-sm text-slate-600 !text-right"
        >
          <button
            mat-stroked-button
            color="primary"
            class="clear-button !mr-1 !mt-1 !mb-1"
            (click)="onEdit(element)"
          >
            <i class="bx bxs-edit"></i>
            <span> แก้ไข</span>
          </button>
          <button
            mat-stroked-button
            color="primary"
            class="clear-button1 !mr-1 !mt-1 !mb-1"
            (click)="onDeleteButtonClick(element.id)"
          >
            <i class="bx bx-trash"></i>
            <span>ลบ</span>
          </button>
        </td>
        <td
          mat-footer-cell
          *matFooterCellDef
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        ></td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
    class="mat-elevation-z8 !shadow-md lg:w-[100%]"
  ></mat-paginator>
</div>
