<div class="bg-transparent">
  <div
    class="flex flex-col bg-content rounded-xl px-5 py-5 my-8 shadow-card dark:bg-content-dark dark:shadow-none"
  >
    <div class="py-2 inline-block min-w-full sm:px-0">
      <div class="overflow-hidden">
        <h1 class="text-xl text-slate-500 dark:text-white font-semibold">
          ตารางแสดงการเบิกค่ารักษาพยาบาลทั้งหมด
        </h1>
      </div>
    </div>

    <div
      class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-8"
    ></div>

    <div>
      <div class="col-span-1 lg:col-span-1">
        <!-- Content for col-start-4 (if any) -->
      </div>
    </div>

    <!-- Newform -->
    <form [formGroup]="expenseForm" (ngSubmit)="onSearch()">
      <div
        class="w-full flex flex-col text-[#566a7f] rounded-lg shadow p-6 bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#343434]"
      >
        <div class="flex flex-wrap items-center gap-4 p-4">
          <div class="flex justify-center items-center mb-6 w-full sm:w-auto">
            <label class="flex-initial self-center w-28 dark:text-[#ffffff]"
              >บริษัท :</label
            >
            <mat-radio-group
              aria-label="Select an option"
              formControlName="companyName"
            >
              <mat-radio-button class="mr-4" value="PCCTH"
                >PCCTH</mat-radio-button
              >
              <mat-radio-button class="mr-4" value="WiseSoft"
                >WiseSoft</mat-radio-button
              >
            </mat-radio-group>
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <div class="flex flex-col">
            <label
              class="flex-initial self-center w-full sm:w-18 dark:text-[#ffffff]"
              >ฝ่าย:</label
            >
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>เลือกชื่อฝ่าย</mat-label>
              <mat-select formControlName="sectorName">
                <!-- <mat-option>None</mat-option> -->
                <mat-option
                  *ngFor="let sector of sectorOptions"
                  [value]="sector.sectorId"
                  >{{ sector.sectorName }}</mat-option
                >
                <!-- sectorId = console -->
              </mat-select>
            </mat-form-field>
          </div>

          <div class="flex flex-col">
            <label
              class="flex-initial self-center w-full sm:w-18 dark:text-[#ffffff]"
              >แผนก:</label
            >
            <mat-form-field appearance="fill" class="w-full">
              <mat-label>เลือกชื่อแผนก</mat-label>
              <mat-select formControlName="deptName">
                <!-- <mat-option>None</mat-option> -->
                <mat-option
                  *ngFor="let dept of deptOptions"
                  [value]="dept.id"
                  >{{ dept.deptName }}</mat-option
                >
                <!-- id = console -->
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
          <div class="flex flex-col">
            <label
              class="flex-initial self-center w-full sm:w-18 dark:text-[#ffffff]"
            >
              ชื่อพนักงาน
            </label>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label class="dark:text-[#bebebe]">ระบุชื่อพนักงาน</mat-label>
              <input
                matInput
                formControlName="empName"
                [matAutocomplete]="auto"
              />
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                  *ngFor="let emp of filteredOptions | async"
                  [value]="emp.fullName"
                >
                  {{ emp.fullName }}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="flex flex-col">
            <label
              class="flex-initial self-center w-full sm:w-18 dark:text-[#ffffff]"
            >
              วันที่</label
            >
            <mat-form-field appearance="fill">
              <mat-label>วันที่</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input
                  matStartDate
                  placeholder="วันที่เริ่ม"
                  formControlName="startDate"
                />
                <input
                  matEndDate
                  placeholder="วันที่สิ้นสุด"
                  formControlName="endDate"
                />
              </mat-date-range-input>
              <mat-hint>วัน/เดือน/ปี – วัน/เดือน/ปี</mat-hint>
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>

        <div
          class="col-span-1 md:col-span-1 lg:col-span-1 flex justify-center items-center h-full"
        >
          <div
            class="flex flex-col md:flex-row space-y-2 md:space-y-0 md:space-x-2 mb-2 mt-4"
          >
            <button
              mat-raised-button
              class="flex items-center text-center bg-[#1134A6] dark:bg-[#696cf8]"
              type="submit"
            >
              <i class="bx bx-search pr-2 text-white dark:text-white"></i>
              <span class="text-white dark:text-white">ค้นหา</span>
            </button>

            <button
              mat-raised-button
              (click)="openDialog()"
              class="flex items-center text-center bg-[#1134A6] dark:bg-[#696cf8]"
            >
              <i class="bx bx-printer pr-2 text-white dark:text-white"></i>
              <span class="text-white dark:text-white">พิมพ์</span>
            </button>
          </div>
        </div>
      </div>
      <!--ปิดเทา-->
    </form>

    <br />

    <div
      class="w-full flex flex-col text-[#566a7f] rounded-lg shadow p-6 bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#343434]"
    >
      <div class="flex items-center justify-start">
        <button
          mat-stroked-button
          (click)="clearForm()"
          class="border-5 border-[#1134A6] text-[#1134A6] dark:border-[#ffffff] dark:text-[#ffffff] bg-transparent hover:bg-[#e0e0e0] dark:hover:bg-[#333]"
        >
          <i
            class="bx bx-filter-alt pr-2 text-[#1134A6] dark:text-[#ffffff]"
          ></i>
          <span class="text-[#1134A6] dark:text-[#ffffff]">Clear</span>
        </button>
      </div>

      <!-- ตรวจสอบว่ามีข้อมูลหรือไม่ -->
      <ng-container *ngIf="welfareExpense.data.length === 0; else tableContent">
      </ng-container>

      <!-- ใช้ ng-template เพื่อแสดงตารางเมื่อมีข้อมูล -->
      <ng-template #tableContent>
        <table
          mat-table
          [dataSource]="welfareExpense"
          class="mat-elevation-z8 w-full overflow-x-auto mt-4"
        >
          <ng-container matColumnDef="companyName">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="font-bold text-[#4d4d4f] bg-gray-100 text-[16px] dark:bg-content-dark !text-center"
            >
              บริษัท
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="justify-center !text-center"
            >
              {{ element.dateOfAdmission | buddhistDate : "DD/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="sectorDept">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="font-bold text-[#4d4d4f] bg-gray-100 text-[16px] dark:bg-content-dark !text-center"
            >
              ฝ่าย/แผนก
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="justify-center !text-center"
            >
              {{ element.fullName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="empCode">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="font-bold text-[#4d4d4f] bg-gray-100 text-[16px] dark:bg-content-dark !text-center"
            >
              รหัสพนักงาน
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="justify-center !text-center"
            >
              {{ element.level }}
            </td>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="font-bold text-[#4d4d4f] bg-gray-100 text-[16px] dark:bg-content-dark !text-center"
            >
              ชื่อ
            </th>
            <td
              mat-cell
              *matCellDef="let element"
              class="justify-center !text-center"
            >
              {{ element.canWithdraw }}
            </td>
          </ng-container>

          <!-- Message Row -->
          <!-- <tr *ngIf="welfareExpense.data.length === 0" class="bg-gray-100">
                    <td colspan="8" class="text-center text-gray-500 py-4 font-bold">
                        กรุณาเลือกฝ่ายและแผนก
                    </td>
                </tr> -->

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: displayedColumns"
            class="cursor-pointer hover:bg-gray-200 dark:hover:bg-[#a1c4d8]"
          ></tr>
        </table>

        <mat-paginator
          class="mat-elevation-z8"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page"
        >
        </mat-paginator>
      </ng-template>
    </div>
    <!--ปิดเทา-->
  </div>
</div>
