<div class="bg-transparent w-full">

    <div
        class="w-full px-4 py-3 rounded-lg lg:px-6 bg-content shadow-card dark:bg-content-dark dark:text-[#e4e6eb] dark:shadow-none ">
        <p class="text-2xl text-font-header  mt-5 mb-3">ฟอร์มเบิกค่ารักษาพยาบาล</p>


        <!-- part1 -->
        <div class="flex flex-col lg:flex-row justify-center gap-4 w-full">
            <div class="w-full lg:w-[45%]">
                <form [formGroup]="welfareForm">
                    <div class="flex flex-row items-center">
                        <label for="fullName" class="w-[10%] lg:w-[15%]">ค้นหาชื่อ:</label>
                        <!-- fullName -->
                         
                        <div class="w-[75%] lg:w-[60%] flex">
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>ค้นหาชื่อ</mat-label>
                                <input matInput formControlName="fullName" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async"
                                        [value]="option.fullName">
                                        {{option.fullName}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="w-[15%] lg:w-[25%] justify-end lg:justify-center flex">
                            <button mat-raised-button type="button" (click)="searchEmp()"
                                class="flex items-center text-center bg-[#696cf8] dark:bg-[#696cf8]">
                                <i class='bx bx-search pr-2 text-white dark:text-white'></i>
                                <span class="text-white dark:text-white">ค้นหา</span>
                            </button>
                        </div>

                    </div>

                </form>
            </div>
            <div
                class="w-full lg:w-[55%] flex flex-col lg:flex-row text-[#566a7f] rounded-lg shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#343434] mb-3">
                <div class="flex flex-col w-full gap-y-2" *ngIf="datafullName != ''">
                    <p class="font-bold">ข้อมูลพนักงาน</p>
                    <div class="flex flex-row w-full">
                        <p class="w-[58%]">{{datafullName}}</p>
                        <p class="w-[42%]">รหัสพนักงาน: {{dataEmpCode}}</p>
                    </div>
                    <div class="flex flex-row w-full">
                        <p class="w-[58%]">แผนก: {{dataSectorName}}</p>
                        <p class="w-[42%]">{{dataPositionName}}</p>
                    </div>
                    <div class="flex flex-row w-full">
                        <p class="w-[58%]">Email : {{dataEmail}}</p>
                        <p class="w-[42%]">ระดับพนักงาน (LEVEL): {{dataLevel}}</p>
                    </div>
                    <div class="flex flex-row w-full">
                        <p class="w-[58%]">วันที่เริ่มงาน : {{dataStartDate| buddhistDate : "DD/MM/yyyy"}}</p>
                        <p class="w-[42%]">ประเภท : {{dataTypeEmp}}</p>
                    </div>
                    <div class="flex flex-row w-full">
                        <p class="w-full">วันที่ผ่านการทดลองงาน : {{dataPassDate | buddhistDate : "DD/MM/yyyy"}}</p>
                    </div>
                </div>
                <div class="flex flex-col w-full" *ngIf="datafullName == ''">
                    <p class="font-bold text-xl py-5 text-center ">กรุณาค้นหาชื่อพนักงานที่ต้องการเพื่อดำเนินการต่อ
                    </p>
                </div>
            </div>
        </div>

        <!-- part2 -->
        <div>
            <form [formGroup]="expenseForm">
                <div
                    class="w-full flex flex-col text-[#566a7f] rounded-lg shadow p-6 bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#343434]">

                    <div class="flex flex-row pb-3 gap-x-3 dark:text-white"
                        *ngIf="dataOPD != '' && dataIPD != '' && dataRoom != '' ">
                        <div class="w-[50%] bg-white dark:bg-[#ffffff1a] rounded-lg px-4 py-2">
                            <p class="underline underline-offset-1 py-3">ค่ารักษาพยาบาลคงเหลือ</p>
                            <div class="flex flex-row gap-x-3">
                                <p class="">OPD: {{dataOPD}} บาท</p>
                                <p class="">IPD: {{dataIPD}} บาท</p>
                            </div>
                        </div>
                        <div class="w-[50%] bg-white dark:bg-[#ffffff1a] rounded-lg p-2">
                            <p class="underline underline-offset-1 py-3">ค่าห้องและค่าอาหารที่สามารถเบิกได้ต่อวัน</p>
                            <p class="">ค่าห้อง + ค่าอาการ: {{dataRoom}} บาท</p>
                        </div>
                    </div>

                    <div class="flex flex-col gap-y-2">
                        <p>ประเภทการรักษา</p>
                        <mat-radio-group formControlName="treatmentType" class="pb-3">
                            <mat-radio-button value="opd" class="mx-1">OPD</mat-radio-button>
                            <mat-radio-button value="ipd" class="mx-1">IPD</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="flex flex-col gap-y-2">
                        <div class="flex flex-row gap-x-2">
                            <div class="flex flex-col w-[50%]">
                                <p>วันที่</p>
                                <mat-form-field appearance="fill">
                                    <mat-label>วันที่</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate placeholder="วันที่เริ่ม" formControlName="startDate">
                                        <input matEndDate placeholder="วันที่สิ้นสุด" formControlName="endDate">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col w-[50%]">
                                <p>จำนวนวัน</p>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>จำนวนวัน</mat-label>
                                    <input matInput type="text" formControlName="daysCount" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="flex flex-col">
                        <div class="flex flex-row gap-x-2">
                            <div class="flex flex-col w-[50%]">
                                <p>ค่ารักษาพยาบาล</p>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>ค่ารักษาพยาบาล</mat-label>
                                    <input matInput type="text" formControlName="medicalCost"
                                        (blur)="formatCurrency($event, 'medicalCost')">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col w-[50%]">
                                <p>ค่าห้อง + ค่าอาหาร</p>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>ค่าห้อง + ค่าอาหาร</mat-label>
                                    <input matInput type="text" formControlName="roomAndBoardCost"
                                        (blur)="formatCurrency($event, 'roomAndBoardCost')">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <p>รายละเอียด</p>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>รายละเอียด</mat-label>
                                <textarea matInput placeholder="" formControlName="details"></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <p>หมายเหตุ</p>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>หมายเหตุ</mat-label>
                                <textarea matInput placeholder="" formControlName="notes"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="flex justify-center gap-2 pt-2">
                        <button mat-raised-button type="button" (click)="onSave()" [disabled]="expenseForm.invalid || welfareForm.invalid"
                            class="flex items-center text-center  {{
                            expenseForm.invalid
                              ? '!cursor-not-allowed bg-gray-400 border-2 border-gray-400'
                              : '!cursor-pointer bg-[#696cf8] !text-white hover:!text-white border-2 border-[#696cf8] dark:bg-[#696cf8] '
                          }}">
                            <span
                                class="{{expenseForm.invalid ? '' : 'text-white dark:text-white'}}">{{editMode ? 'แก้ไขข้อมูล' : 'บันทึกข้อมูล'}}</span>
                        </button>

                        <button mat-raised-button type="button" (click)="clearForm()"
                            class="flex items-center text-center bg-[#ec7063] dark:bg-[#ec7063]">
                            <i class='bx bx-x pr-2 text-white dark:text-white'></i>
                            <span class="text-white dark:text-white">ยกเลิก</span>
                        </button>
                    </div>
                </div>

            </form>
        </div>

        <!-- part3 -->
        <div class="flex flex-col lg:flex-row w-full">
            <div class="w-full lg:w-[50%] gap-x-2 mt-5">
                <form [formGroup]="yearForm">
                    <div class="flex flex-row items-center gap-x-2">
                        <label for="fullName" class="w-[10%] lg:w-[15%]">ค้นหาปี:</label>
                        <!-- Year -->
                        <div class="w-[60%] lg:w-[40%] flex">
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>ค้นหาปี</mat-label>
                                <input matInput formControlName="yearSearch">
                            </mat-form-field>
                        </div>
                        <div class="w-[15%] lg:w-[25%] justify-end lg:justify-center flex">
                            <button mat-raised-button type="button" (click)="getExpenseUidAndYear()"
                                class="flex items-center text-center bg-[#696cf8] dark:bg-[#696cf8] w-full">
                                <span class="text-white dark:text-white">ค้นหา</span>
                            </button>
                        </div>
                        <!-- <div class="w-[15%] lg:w-[25%] justify-end lg:justify-center flex">
                            <button mat-raised-button type="button" (click)="searchAllHistory()"
                                class="flex items-center text-center bg-[#696cf8] dark:bg-[#696cf8] w-full">
                                <span class="text-white dark:text-white">แสดงทั้งหมด</span>
                            </button>
                        </div> -->

                    </div>

                </form>
            </div>
        </div>

        <!-- part4 : table-->
        <div class="w-full overflow-x-auto  mt-3 rounded-t-lg">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-full table-fixed " matSort>

                <!-- ลำดับที่ Column -->
                <ng-container matColumnDef="No" class="">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-gray-100 dark:bg-transparent !text-center text-sm font-semibold text-slate-500 w-40 lg:w-[5%] !pl-0">
                        ลำดับที่ </th>
                    <td mat-cell *matCellDef="let element"
                        class="bg-gray-50 bg-gray-50 dark:bg-[#494949] !px-2 xl:!pl-[2%] !py-2 text-sm text-slate-600 w-40 lg:w-[15%] whitespace-pre-line overflow-auto">
                        {{element.no}} </td>
                </ng-container>

                <!-- วันที่ Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-gray-100 dark:bg-transparent !text-center text-sm font-semibold text-slate-500 w-24 lg:w-[12%]">
                        วันที่ </th>
                    <td mat-cell *matCellDef="let element"
                        class="bg-gray-50 dark:bg-[#494949] !px-2 !py-2 text-sm text-slate-600 w-24 lg:w-[8%] !text-center">
                        {{ element.startDate | buddhistDate : "DD/MM/yyyy"}} - {{ element.endDate | buddhistDate :
                        "DD/MM/yyyy"}} </td>
                </ng-container>

                <!-- รายละเอียด Column -->
                <ng-container matColumnDef="detail">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-gray-100 dark:bg-transparent !text-center text-sm font-semibold text-slate-500 w-28 lg:w-[12%]">
                        รายละเอียด </th>
                    <td mat-cell *matCellDef="let element"
                        class="bg-gray-50 dark:bg-[#494949] !px-2 !py-2 text-sm text-slate-600 w-28 lg:w-[12%] !text-center">
                        {{element.description}} </td>
                </ng-container>

                <!-- IPD Column -->
                <ng-container matColumnDef="ipd">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-gray-100 dark:bg-transparent !text-center text-sm font-semibold text-slate-500 w-24 lg:w-[9%]">
                        IPD </th>
                    <td mat-cell *matCellDef="let element"
                        class="bg-gray-50 dark:bg-[#494949] !px-2 !py-2 text-sm text-slate-600 !text-right w-24 lg:w-[8%] 2xl:!pr-[2%]">
                        {{convertNumberToStringFormat(element.ipd)}}
                    </td>
                </ng-container>

                <!-- OPD Column -->
                <ng-container matColumnDef="opd">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-gray-100 dark:bg-transparent !text-center text-sm font-semibold text-slate-500 w-24 lg:w-[9%]">
                        OPD </th>
                    <td mat-cell *matCellDef="let element"
                        class="bg-gray-50 dark:bg-[#494949] !px-2 !py-2 text-sm text-slate-600 !text-right w-24 lg:w-[8%] 2xl:!pr-[2%]">
                        {{convertNumberToStringFormat(element.opd)}}
                    </td>
                </ng-container>

                <!-- ค่าห้อง/อาหาร Column -->
                <ng-container matColumnDef="room">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-gray-100 dark:bg-transparent !text-center text-sm font-semibold text-slate-500 w-24 lg:w-[9%]">
                        ค่าห้อง/อาหาร </th>
                    <td mat-cell *matCellDef="let element"
                        class="bg-gray-50 dark:bg-[#494949] !px-2 !py-2 text-sm text-slate-600 !text-right w-24 lg:w-[8%] 2xl:!pr-[2%]">
                        {{convertNumberToStringFormat(element.roomService)}}
                    </td>
                </ng-container>

                <!-- จำนวนเงินที่เบิก Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-gray-100 dark:bg-transparent !text-center text-sm font-semibold text-slate-500 w-24 lg:w-[9%]">
                        จำนวนเงินที่เบิก </th>
                    <td mat-cell *matCellDef="let element"
                        class="bg-gray-50 dark:bg-[#494949] !px-2 !py-2 text-sm text-slate-600 !text-right w-24 lg:w-[8%] 2xl:!pr-[2%]">
                        {{convertNumberToStringFormat(element.canWithdraw)}} </td>
                </ng-container>

                <!-- edit / delete Column -->
                <ng-container matColumnDef="editOrDelete">
                    <th mat-header-cell *matHeaderCellDef
                        class="bg-gray-100 dark:bg-transparent !text-center text-sm font-semibold text-slate-500 !px-2 w-60 lg:w-[20%]">
                    </th>
                    <td mat-cell *matCellDef="let element"
                        class="!px-2 text-sm w-60 lg:w-[20%] bg-gray-50 dark:bg-[#494949]">
                        <div class="flex justify-center content-center">
                            <button type="button" (click)="editBtn(element)"
                                class="flex items-center justify-center text-[#FFAB00] rounded w-32 border-2 border-gray-400 mr-1 hover:bg-[#FFAB00] hover:text-white hover:border-[#FFAB00] active:bg-[#e4a803]">
                                <i class='bx bx-edit'></i>ปรับปรุงข้อมูล
                            </button>
                            <button type="button" (click)="deleteBtn(element)"
                                class="flex items-center justify-center w-24 py-2 mr-1 text-red-700 border-2 border-gray-400 rounded dark:text-red-500 hover:bg-red-700 hover:text-white hover:border-red-700 dark:hover:text-white active:bg-red-800">
                                <i class='bx bx-trash'></i>ลบข้อมูล
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class=""></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

        </div>
        <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10]" class="rounded-b-lg bg-gray-100"></mat-paginator>
    </div>
</div>