<div class="bg-transparent w-full">

    <div class="w-full px-4 py-3 rounded-lg lg:px-6 bg-content shadow-card dark:bg-content-dark dark:shadow-none">
        <p class="text-2xl text-font-header  mt-5 mb-3">ฟอร์มเบิกค่ารักษาพยาบาล</p>

        <div class="flex flex-col lg:flex-row justify-center gap-4 w-full">
            <div class="w-full lg:w-[50%]">
                <form [formGroup]="welfareForm">
                    <div class="flex flex-row items-center">
                        <label for="fullName" class="w-[10%] lg:w-[15%]">ค้นหาชื่อ:</label>
                        <!-- fullName -->
                        <div class="w-[75%] lg:w-[60%] flex">
                            <mat-form-field appearance="fill" class="w-full">
                                <mat-label>ค้นหาชื่อ</mat-label>
                                <input matInput formControlName="fullName" [matAutocomplete]="auto">
                                <mat-autocomplete #auto="matAutocomplete">
                                    <mat-option *ngFor="let option of filteredOptions | async"
                                        [value]="option.fullName">
                                        {{option.fullName}}
                                    </mat-option>
                                </mat-autocomplete>
                            </mat-form-field>
                        </div>
                        <div class="w-[15%] lg:w-[25%] justify-end lg:justify-center flex">
                            <button mat-raised-button type="button" (click)="searchEmp()"
                                class="flex items-center text-center bg-[#696cf8] dark:bg-[#696cf8]">
                                <i class='bx bx-search pr-2 text-white dark:text-white'></i>
                                <span class="text-white dark:text-white">ค้นหา</span>
                            </button>
                        </div>

                    </div>

                </form>
            </div>
            <div
                class="w-full lg:w-[50%] flex flex-col lg:flex-row text-[#566a7f] rounded-lg shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#343434] mb-3">
                <div class="flex flex-col w-full gap-y-2" *ngIf="datafullName != ''">
                    <p class="font-bold">ข้อมูลพนักงาน</p>
                    <div class="flex flex-row w-full">
                        <p class="w-[55%]">{{datafullName}}</p>
                        <p class="w-[45%]">รหัสพนักงาน: {{dataEmpCode}}</p>
                    </div>
                    <div class="flex flex-row w-full">
                        <p class="w-[55%]">แผนก: {{dataSectorName}}</p>
                        <p class="w-[45%]">{{dataPositionName}}</p>
                    </div>
                    <div class="flex flex-row w-full">
                        <p class="w-[55%]">Email : {{dataEmail}}</p>
                        <p class="w-[45%]">ระดับพนักงาน (LEVEL): {{dataLevel}}</p>
                    </div>
                    <div class="flex flex-row w-full">
                        <p class="w-[55%]">วันที่เริ่มงาน : {{dataStartDate| buddhistDate : "DD/MM/yyyy"}}</p>
                        <p class="w-[45%]">ประเภท : {{dataTypeEmp}}</p>
                    </div>
                    <div class="flex flex-row w-full">
                        <p class="w-[55%]">วันที่ผ่านการทดลองงาน : {{dataPassDate | buddhistDate : "DD/MM/yyyy"}}</p>
                        <p class="w-[45%]"></p>
                    </div>
                    <!-- <div class="flex flex-row w-full">
                        <button mat-raised-button type="button" (click)="openDialog()"
                            class="flex items-center text-center bg-[#696cf8] dark:bg-[#696cf8]">
                            <span class="text-white dark:text-white">เบิกค่ารักษาพยาบาล</span>
                        </button>
                    </div> -->
                </div>
                <div class="flex flex-col w-full" *ngIf="datafullName == ''">
                    <p class="font-bold text-xl py-5 text-center ">กรุณาค้นหาชื่อพนักงานที่ต้องการเพื่อดำเนินการต่อ
                    </p>
                </div>
            </div>
        </div><!-- part1-->

        <div>
            <form [formGroup]="expenseForm">
                <div
                    class="w-full flex flex-col text-[#566a7f] rounded-lg shadow p-6 bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#343434]">

                    <div class="flex flex-col gap-y-2">
                        <p>ประเภทการรักษา</p>
                        <mat-radio-group formControlName="treatmentType" class="pb-3">
                            <mat-radio-button value="OPD" class="mx-1">OPD</mat-radio-button>
                            <mat-radio-button value="IPD" class="mx-1">IPD</mat-radio-button>
                        </mat-radio-group>
                    </div>

                    <div class="flex flex-col gap-y-2">
                        <div class="flex flex-row gap-x-2">
                            <div class="flex flex-col w-[50%]">
                                <p>วันที่</p>
                                <mat-form-field appearance="fill">
                                    <mat-label>วันที่</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate placeholder="วันที่เริ่ม" formControlName="startDate">
                                        <input matEndDate placeholder="วันที่สิ้นสุด" formControlName="endDate">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>

                            <div class="flex flex-col w-[50%]">
                                <p>จำนวนวัน</p>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>จำนวนวัน</mat-label>
                                    <input matInput type="text" formControlName="daysCount" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                    </div>

                    <div class="flex flex-col">
                        <div class="flex flex-row gap-x-2">
                            <div class="flex flex-col w-[50%]">
                                <p>ค่ารักษาพยาบาล</p>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>ค่ารักษาพยาบาล</mat-label>
                                    <input matInput type="text" formControlName="medicalCost"
                                        (blur)="formatCurrency($event, 'medicalCost')">
                                </mat-form-field>
                            </div>
                            <div class="flex flex-col w-[50%]">
                                <p>ค่าห้อง + ค่าอาหาร</p>
                                <mat-form-field appearance="fill" class="w-full">
                                    <mat-label>ค่าห้อง + ค่าอาหาร</mat-label>
                                    <input matInput type="text" formControlName="roomAndBoardCost"
                                        (blur)="formatCurrency($event, 'roomAndBoardCost')">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <p>รายละเอียด</p>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>รายละเอียด</mat-label>
                                <textarea matInput placeholder="" formControlName="details"></textarea>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="flex flex-col">
                        <div class="flex flex-col">
                            <p>หมายเหตุ</p>
                            <mat-form-field class="example-full-width" appearance="fill">
                                <mat-label>หมายเหตุ</mat-label>
                                <textarea matInput placeholder="" formControlName="notes"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="flex justify-center gap-2 pt-2">
                    <button mat-raised-button type="button" (click)="onSave()" [disabled]="expenseForm.invalid" class="flex items-center text-center  {{
                        expenseForm.invalid
                          ? '!cursor-not-allowed bg-gray-400 border-2 border-gray-400'
                          : '!cursor-pointer bg-[#696cf8] !text-white hover:!text-white border-2 border-[#696cf8] dark:bg-[#696cf8] '
                      }}">
                        <span class="{{expenseForm.invalid ? '' : 'text-white dark:text-white'}}">บันทึกข้อมูล</span>
                    </button>

                    <button mat-raised-button type="button" (click)="clearForm()"
                        class="flex items-center text-center bg-[#ec7063] dark:bg-[#ec7063]">
                        <i class='bx bx-x pr-2 text-white dark:text-white'></i>
                        <span class="text-white dark:text-white">ยกเลิก</span>
                    </button>
                </div>
            </form>
        </div><!-- part2-->
    </div>
</div>