<div class="bg-transparent">
  <div class="w-full space-y-2">
    <h1 class="text-2xl">รายละเอียดการส่งพนักงานเข้าอบรม</h1>
    <div class="bg-content drop-shadow-md rounded-md p-4 dark:bg-content-dark">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="flex flex-col">
          <label for="company" class="mb-2">บริษัท</label>
          <mat-form-field appearance="fill">
            <mat-label>บริษัท</mat-label>
            <mat-select>
              <mat-option value="PCCTH">PCCTH</mat-option>
              <mat-option value="WiseSoft">WiseSoft</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <label class="mb-2">ตำแหน่งงาน</label>
          <mat-form-field appearance="fill">
            <mat-label>ตำแหน่งงาน</mat-label>
            <input
              class="dark:text-font-description-dark text-font-description"
              matInput
              placeholder="ตำแหน่งงาน"
            />
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <label class="mb-2">ฝ่าย/แผนก</label>
          <mat-form-field appearance="fill">
            <mat-label>เลือกฝ่าย/แผนก</mat-label>
            <mat-select> </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div class="flex flex-col">
          <label for="company" class="mb-2">วันที่เริ่ม</label>
          <mat-form-field appearance="fill">
            <mat-label>วันที่เริ่ม</mat-label>
            <input matInput [matDatepicker]="startPicker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="startPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #startPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <label class="mb-2">วันที่สิ้นสุด</label>
          <mat-form-field appearance="fill">
            <mat-label>วันที่สิ้นสุด</mat-label>
            <input matInput [matDatepicker]="endPicker" />
            <mat-datepicker-toggle
              matSuffix
              [for]="endPicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="flex flex-col">
          <label class="mb-2">หัวข้อในการอบรม/สัมมนา</label>
          <mat-form-field appearance="fill">
            <mat-label>หัวข้อในการอบรม/สัมมนา</mat-label>
            <mat-select> </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div
      class="w-full flex flex-col md:flex-row gap-4 justify-center items-center mt-2"
    >
      <i class="bx bx-filter-alt dark:text-font-description-hover"></i>
      <mat-form-field class="sm:w-full md:w-64" appearance="fill">
        <mat-label>กรองสถานะ</mat-label>
        <mat-select (selectionChange)="filterByStatus($event.value)">
          <mat-option value="allApprove">อนุมัติแล้ว</mat-option>
          <mat-option value="waitApprove">รอการอนุมัติ</mat-option>
          <mat-option value="waitEval">รอประเมินผล</mat-option>
          <mat-option value="Eval">ประเมินผลเรียบร้อย</mat-option>
          <mat-option value="waitG9Eval"
            >รอประเมินผลเพื่อส่งกรมพัฒนาฝีมือแรงงาน</mat-option
          >
          <mat-option value="G9Eval"
            >ประเมินผลเพื่อส่งกรมพัฒนาฝีมือแรงงานเรียบร้อย</mat-option
          >
          <mat-option value="All">ทั้งหมด</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div
      class="bg-content drop-shadow-md rounded-md p-4 dark:bg-content-dark overflow-x-auto"
    >
      <table class="table-auto w-full">
        <thead class="bg-content p-2 dark:bg-content-dark">
          <tr class="p-4 dark:text-font-description-dark text-font-description">
            <th class="text-center p-4">บริษัท</th>
            <th class="text-center p-4">รหัสพนักงาน</th>
            <th class="text-center p-4">ชื่อผู้ที่เข้าการอบรม</th>
            <th class="text-center p-4">แผนก</th>
            <th class="text-center p-4">เรื่อง</th>
            <!-- <th class="text-center p-4">ระยะเวลา (วัน)</th> -->
            <th class="text-center p-4">หมายเหตุ</th>
            <th class="text-center p-4">สถานะ</th>
            <th class="text-center p-4">ปุ่มตรวจสอบ</th>
            <th class="text-center p-4">ปุ่มยกเลิก</th>
            <th class="text-center p-4">ปุ่มพิมพ์รายงาน</th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="text-font-description dark:text-font-description-dark"
            *ngFor="let training of trainingTableList"
          >
            <td class="p-4 text-center">
              {{ training.training.user.company.companyName }}
            </td>
            <td class="p-4 text-center">
              {{ training.training.user.empCode }}
            </td>
            <td class="p-4 text-start whitespace-nowrap">
              {{ training.training.user.firstname }} {{ " " }}
              {{ training.training.user.lastname }}
            </td>
            <td class="p-4 text-center">
              {{ training.training.user.department.deptName }}
            </td>
            <td class="p-4 text-start">
              {{ training.training.courses[0].courseName }}
            </td>
            <!-- <td class="p-4 text-center">
              {{
                dateRange(
                  training.training.courses[0].startDate,
                  training.training.courses[0].endDate
                )
              }}
            </td> -->
            <td class="p-4 text-center">
              {{
                training.training.etcDetails != ""
                  ? training.training.etcDetails
                  : "-"
              }}
            </td>
            <td class="p-4 text-center whitespace-nowrap">
              <!-- TODO status check with isDoResult -->
              <div *ngIf="userRole == 'ROLE_ManagerAndROLE_Personnel'">
                <div
                  *ngIf="
                    training.result_status == 'ไม่อนุมัติ' ||
                      training.result_status == 'ยกเลิก';
                    else PMelseBlock1
                  "
                  class="text-red-600 dark:text-red-500"
                >
                  {{ training.result_status }}
                </div>
                <ng-template #PMelseBlock1>
                  <div
                    *ngIf="
                      training.isDo == undefined &&
                        !isAllApprove(training.training.status);
                      else PMelseBlock2
                    "
                    [ngClass]="{
                      'text-yellow-600 dark:text-yellow-500':
                        training.result_status == 'รอประเมิน' ||
                        (training.result_status == 'รอประเมิน' &&
                          watingApproveCheck(training.training.status)),
                      'text-green-600 dark:text-green-500':
                        training.result_status != 'รอประเมิน'
                    }"
                  >
                    {{
                      training.result_status == "รอประเมิน" &&
                      watingApproveCheck(training.training.status)
                        ? "รออนุมัติ"
                        : training.result_status
                    }}
                  </div>
                </ng-template>
                <ng-template #PMelseBlock2>
                  <div *ngIf="training.isDo != undefined">
                    <div
                      *ngIf="
                        !isAllApprove(training.training.status);
                        else allApproveStatusNotApproverUser
                      "
                    >
                      <div *ngFor="let state of training.training.status">
                        <p
                          [ngClass]="{
                            'text-green-600 dark:text-green-500':
                              state.status == 'อนุมัติ',
                            'text-red-600 dark:text-red-500':
                              state.status == 'ไม่อนุมัติ',
                            'text-yellow-600 dark:text-yellow-500':
                              state.status == null
                          }"
                        >
                          {{ state.status ? state.status : "รอการอนุมัติ" }}
                        </p>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </div>

              <div
                *ngIf="userRole == 'ROLE_Admin' || userRole == 'ROLE_Personnel'"
              >
                <div
                  *ngIf="
                    training.result_status == 'ไม่อนุมัติ' ||
                      training.result_status == 'ยกเลิก';
                    else AorPelseBlock1
                  "
                  class="text-red-600 dark:text-red-500"
                >
                  {{ training.result_status }}
                </div>
                <ng-template #AorPelseBlock1>
                  <div
                    class=""
                    *ngIf="
                      !isAllApprove(training.training.status);
                      else allApproveStatusNotApproverUser
                    "
                  >
                    <div
                      [ngClass]="{
                        'text-yellow-600 dark:text-yellow-500':
                          training.result_status == 'รอประเมิน' ||
                          (training.result_status == 'รอประเมิน' &&
                            watingApproveCheck(training.training.status)),
                        'text-green-600 dark:text-green-500':
                          training.result_status != 'รอประเมิน'
                      }"
                    >
                      {{
                        training.result_status == "รอประเมิน" &&
                        watingApproveCheck(training.training.status)
                          ? "รออนุมัติ"
                          : training.result_status
                      }}
                    </div>
                  </div>
                </ng-template>
              </div>

              <div
                *ngIf="
                  userRole == 'ROLE_Approver' ||
                  userRole == 'ROLE_Manager' ||
                  userRole == 'ROLE_VicePresident' ||
                  userRole == 'ROLE_President'
                "
              >
                <div
                  *ngIf="
                    training.result_status == 'ไม่อนุมัติ' ||
                      training.result_status == 'ยกเลิก';
                    else PRVelseBlock1
                  "
                  class="text-red-600 dark:text-red-500"
                >
                  {{ training.result_status }}
                </div>
              </div>
              <ng-template #PRVelseBlock1>
                <div
                  *ngIf="
                    training.result_status == 'รอประเมิน';
                    else PRVelseBlock2
                  "
                  class="text-yellow-600 dark:text-yellow-500"
                >
                  <div *ngFor="let state of training.training.status">
                    <p
                      [ngClass]="{
                        'text-green-600 dark:text-green-500':
                          state.status == 'อนุมัติ',
                        'text-red-600 dark:text-red-500':
                          state.status == 'ไม่อนุมัติ',
                        'text-yellow-600 dark:text-yellow-500':
                          state.status == null
                      }"
                    >
                      {{ state.status ? state.status : "รอการอนุมัติ" }}
                    </p>
                  </div>
                </div>
              </ng-template>
              <ng-template #PRVelseBlock2>
                <div
                  *ngIf="
                    training.training.result[0].result == null;
                    else isEval
                  "
                >
                  <p class="text-yellow-600 dark:text-yellow-500">
                    รอประเมินผลการอบรม
                  </p>
                </div>

                <ng-template #isEval>
                  <div class="" *ngIf="userRole != 'ROLE_VicePresident'">
                    <p class="text-green-600 dark:text-green-500">
                      ประเมินผลการอบรมเรียบร้อย
                    </p>
                  </div>
                  <div class="" *ngIf="userRole == 'ROLE_VicePresident'">
                    <ng-template>
                      <div
                        class=""
                        *ngIf="
                          training.training.result[0].result != null;
                          else ViceElse1
                        "
                      >
                        <p class="text-yellow-600 dark:text-yellow-500">
                          รอประเมินผลการอบรม
                        </p>
                      </div>
                    </ng-template>
                    <ng-template #ViceElse1>
                      <div
                        *ngIf="
                          training.training.result[0].result == null;
                          else ViceElse2
                        "
                      >
                        <p class="text-yellow-600 dark:text-yellow-500">
                          รอประเมินผลการอบรม
                        </p>
                      </div>
                    </ng-template>
                    <ng-template #ViceElse2>
                      <div
                        *ngIf="
                          training.training.resultGeneric9[0].result5 == null
                        "
                      >
                        <p class="text-yellow-600 dark:text-yellow-500">
                          รอประเมินผล Generic9
                        </p>
                      </div>
                    </ng-template>
                  </div>
                </ng-template>
              </ng-template>

              <ng-template #allApproveStatusNotApproverUser>
                <p
                  class="text-yellow-600 dark:text-yellow-500"
                  *ngIf="
                    isAllApprove(training.training.status) &&
                    training.training.result[0].result == null
                  "
                >
                  รอการประเมินผล
                </p>
                <p
                  class="text-yellow-600 dark:text-yellow-500"
                  *ngIf="
                    isAllApprove(training.training.status) &&
                    training.training.result[0].result != null &&
                    training.training.resultGeneric9[0].result5 == null
                  "
                >
                  รอประเมินผล Generic9
                </p>
                <p
                  class="text-green-600 dark:text-green-500"
                  *ngIf="
                    isAllApprove(training.training.status) &&
                    training.training.result[0].result != null &&
                    training.training.resultGeneric9[0].result5 != null
                  "
                >
                  ประเมินผลเรียบร้อย
                </p>
              </ng-template>
            </td>
            <td class="p-4 text-center">
              <button
                type="button"
                mat-raised-button
                class="!bg-orange-700 hover:!bg-orange-600"
                (click)="goToEditTrainingPage(training)"
              >
                <span class="!text-white"
                  >ตรวจสอบ <i class="bx bx-search-alt"></i
                ></span>
              </button>
            </td>
            <td class="p-4 text-center">
              <!-- TODO cancel status and cancel button -->
              <button
                type="button"
                mat-raised-button
                class="!bg-red-700 hover:!bg-red-600"
              >
                <span class="!text-white">ยกเลิก</span>
              </button>
            </td>
            <td class="p-4 text-center">
              <!-- TODO cancel status and cancel button -->
              <button
                type="button"
                mat-raised-button
                class="!bg-blue-700 hover:!bg-blue-600"
              >
                <span class="!text-white"
                  >พิมพ์ <i class="bx bxs-file-pdf"></i
                ></span>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <mat-paginator
        class="dark:bg-content-dark dark:text-white"
        [length]="pageLength"
        [pageSize]="5"
        [pageSizeOptions]="[5, 10]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
