<div class="bg-transparent">
  <div class="grid grid-flow-col grid-rows-3 gap-y-3 lg:grid-flow-row lg:grid-cols-3 lg:grid-rows-none lg:gap-x-6 lg:gap-y-0">
    <div class="flex flex-col p-8 rounded-md bg-content gap-y-4 shadow-card md:flex-row md:justify-around lg:justify-start lg:flex-col dark:bg-content-dark dark:shadow-none">
      <div class="flex items-center justify-center">
        <div class="overflow-hidden rounded-full w-44 h-44">
          <img src="https://data.pccth.com/sd/vendor/assets/img/download.png" alt="image-president">
        </div>
      </div>
      <div class="flex flex-col items-center justify-center gap-y-4">
        <h3 class="text-xl text-font-header dark:text-font-header-dark">Saknarong Saengsangapong</h3>
        <h4 class="text-lg text-font-header dark:text-font-header-dark">President</h4>
        <p class="w-full text-sm text-center text-font-description md:w-64 lg:w-full dark:text-font-description-dark">
          "PCC มุ่งมั่นที่จะส่งมอบผลิตภัณฑ์ ด้านเทคโนโลยีสารสนเทศ ที่มีคุณสมบัติตรงตามความต้องการของลูกค้า โดยใช้บุคลากรที่มีความรู้ ความสามารถ และปฏิบัติงาน ตามมาตรฐานที่บริษัทกำหนดไว้"
        </p>
      </div>
    </div>
    <div class="flex flex-col p-8 rounded-md bg-content gap-y-4 shadow-card md:flex-row md:justify-around lg:flex-col lg:justify-start dark:bg-content-dark dark:shadow-none">
      <div class="flex items-center justify-center">
        <div class="overflow-hidden rounded-full w-44 h-44">
          <img src="https://data.pccth.com/sd/vendor/assets/img/t5.jpg" class="w-full h-full" alt="image-vice">
        </div>
      </div>
      <div class="flex flex-col items-center justify-center gap-y-4">
        <h3 class="text-xl text-font-header dark:text-font-header-dark">Disphorn Daungtaweetong</h3>
        <h4 class="text-lg text-center text-font-header dark:text-font-header-dark">Vice President <br> Software Development Division</h4>
      </div>
    </div>
    <div class="flex flex-col p-8 rounded-md bg-content gap-y-4 shadow-card md:flex-row md:justify-around lg:flex-col lg:justify-start dark:bg-content-dark dark:shadow-none">
      <div class="flex items-center justify-center">
        <div class="overflow-hidden rounded-full w-44 h-44">
          <img src="https://data.pccth.com/sd/vendor/assets/img/t4.jpg" class="w-full h-full" alt="image-vice">
        </div>
      </div>
      <div class="flex flex-col items-center justify-center gap-y-4">
        <h3 class="text-xl text-font-header dark:text-font-header-dark">Kunanya Thitikul</h3>
        <h4 class="text-lg text-center text-font-header dark:text-font-header-dark">First Senior Vice President <br> Services Group</h4>
      </div>
    </div>
  </div>
</div>
