<div class="bg-transparent w-full">

    <div
        class="w-full px-2 py-1 rounded-md lg:py-3 lg:px-6 bg-content shadow-card dark:bg-content-dark dark:shadow-none">
        <p class="text-2xl text-font-header  mt-5 mb-3" id="course-form">ข้อมูลหัวข้อการอบรม</p>
        <form [formGroup]="courseForm" (submit)="createTraining()">
            <!-- part 1 -->
            <div
                class="text-[#566a7f] rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526] mt-5 mb-3">

                <div class="flex flex-row justify-center gap-4 ">
                    <!-- courseName -->
                    <div class="w-3/5 flex gap-2 items-center">
                        <label for="courseName" class="w-1/5">หัวข้อในการอบรม:</label>
                        <mat-form-field appearance="fill" class="w-4/5">
                            <mat-label>หัวข้อในการอบรม</mat-label>
                            <input id="courseName" matInput formControlName="courseName" required>
                            <!-- <mat-error
                                *ngIf="this.courseForm.controls.courseName.invalid">กรุณากรอกหัวข้อในการอบรม</mat-error> -->
                        </mat-form-field>
                    </div>
                    <!-- Date -->
                    <div class="w-2/5 flex items-center">
                        <label for="" class="w-3/12 ">วันที่ฝึกอบรม:</label>
                        <div class="w-9/12 flex gap-3 items-center">
                            <!-- startDate -->
                            <mat-form-field appearance="fill" class="w-5/12">
                                <mat-label>วันที่เริ่ม</mat-label>
                                <input id="startDate" matInput [matDatepicker]="startDate" (click)="startDate.open()"
                                    formControlName="startDate">
                                <mat-datepicker #startDate></mat-datepicker>
                            </mat-form-field>
                            <label for="" class="flex mx-1">ถึง</label>
                            <!-- endDate -->
                            <mat-form-field appearance="fill" class="w-5/12">
                                <mat-label>วันที่สิ้นสุด </mat-label>
                                <input id="endDate" matInput placeholder="วันที่สิ้นสุด" [matDatepicker]="endDatePicker"
                                    (click)="endDatePicker.open()" formControlName="endDate"
                                    [min]="this.courseForm.get('startDate')?.value">
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-center gap-4 ">
                    <div class="w-3/5 flex gap-2 items-center">
                        <!-- เวลาที่ -->
                        <div class="w-1/2 flex gap-2 items-center">
                            <label for="" class="w-3/12">เวลาที่อบรม:</label>
                            <!-- timeStart -->
                            <mat-form-field appearance="fill" class="w-4/12">
                                <mat-label>เวลาที่เริ่ม</mat-label>
                                <input id="timeStart" matInput [ngxMatTimepicker]="timeStart"
                                    ngxMatTimepickerTrigger="timeStart" [format]="24" formControlName="timeStart"
                                    required readonly>
                                <ngx-mat-timepicker #timeStart></ngx-mat-timepicker>
                                <!-- <mat-error
                                    *ngIf="this.courseForm.controls.timeStart.invalid">กรุณากรอกวันที่</mat-error> -->
                            </mat-form-field>
                            <label for="" class="flex mx-1">ถึง</label>
                            <!-- timeEnd -->
                            <mat-form-field appearance="fill" class="w-4/12">
                                <mat-label>เวลาที่สิ้นสุด</mat-label>
                                <input id="timeEnd" matInput [ngxMatTimepicker]="timeEnd"
                                    ngxMatTimepickerTrigger="timeEnd" [format]="24" formControlName="timeEnd" required
                                    readonly>
                                <ngx-mat-timepicker #timeEnd></ngx-mat-timepicker>
                                <!-- <mat-error *ngIf="this.courseForm.controls.timeEnd.invalid">กรุณากรอกวันที่</mat-error> -->
                            </mat-form-field>
                        </div>
                        <!-- รวม -->
                        <div class="w-1/2 flex gap-2 items-center">
                            <label for="hours" class="mr-6">รวม:</label>
                            <mat-form-field appearance="fill" class="w-3/4">
                                <mat-label>รวม (ชั่วโมง)</mat-label>
                                <input id="hours" matInput formControlName="hours"
                                    (keypress)="onInputKeyPresshours($event)" required>
                                <span matSuffix>ชั่วโมง</span>
                                <!-- <mat-error *ngIf="this.courseForm.controls.hours.invalid">กรุณากรอกชั่วโมง</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- เพิ่มเติม -->
                    <div class="w-2/5 flex items-center">
                        <label for="note" class="w-1/5">เพิ่มเติม:</label>
                        <mat-form-field appearance="fill" class="w-4/5">
                            <mat-label>เพิ่มเติม</mat-label>
                            <textarea matInput placeholder="เช่น (20-30/5)(13,27/6)"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex flex-row justify-center gap-4">
                    <!-- price -->
                    <div class="w-1/2 flex gap-2 items-center">
                        <label for="price" class="w-1/4">ค่าใช้จ่าย/คน:</label>
                        <mat-form-field appearance="fill" class="w-3/4">
                            <mat-label>ค่าใช้จ่าย/คน</mat-label>
                            <input id="price" matInput formControlName="price" (blur)="onBlurPrice($event)"
                                (keypress)="onInputKeyPressPrice($event)" required>
                            <span matPrefix class="pr-2">฿ </span>
                            <span matSuffix>บาท/คน (ก่อน Vat7%)</span>
                            <!-- <mat-error
                                *ngIf="this.courseForm.controls.price.invalid">กรุณากรอกค่าใช้จ่ายในการอบรม</mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 flex">
                    </div>
                </div>

                <div class="flex flex-row justify-center gap-4">
                    <!-- institute -->
                    <div class="w-1/2 flex gap-2 items-center">
                        <label for="institute" class="w-1/4">สถาบันที่จัดอบรม:</label>
                        <mat-form-field appearance="fill" class="w-3/4">
                            <mat-label>สถาบันที่จัดอบรม</mat-label>
                            <input id="institute" matInput formControlName="institute" required>
                            <!-- <mat-error
                                *ngIf="this.courseForm.controls.institute.invalid">กรุณากรอกสถาบันที่จัดอบรม</mat-error> -->
                        </mat-form-field>
                    </div>
                    <!-- place -->
                    <div class="w-1/2 flex gap-2 items-center">
                        <label for="place" class="">สถานที่จัดอบรม:</label>
                        <mat-form-field appearance="fill" class="w-3/4">
                            <mat-label>สถานที่จัดอบรม</mat-label>
                            <textarea d="place" matInput placeholder="" formControlName="place"></textarea>
                            <!-- <mat-error
                                *ngIf="this.courseForm.controls.place.invalid">กรุณากรอกสถานที่จัดอบรม</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <!-- part  2 -->
            <div class="flex justify-center gap-2">
                <button mat-raised-button [disabled]="courseForm.invalid" class="flex items-center text-center  {{
                    courseForm.invalid
                      ? 'cursor-not-allowed bg-gray-400 border-2 border-gray-400'
                      : 'cursor-pointer bg-[#696cf8] hover:bg-[#696cf8] !text-white hover:!text-white border-2 border-[#696cf8]'
                  }}">
                    <i class="bx bx-plus pr-2 {{courseForm.invalid ? '' : 'text-white'}}"></i>
                    <span class="{{courseForm.invalid ? '' : 'text-white'}}">{{ editMode ? 'ปรับปรุงข้อมูล' :'บันทึกข้อมูล'}}</span>
                </button>

                <button mat-raised-button *ngIf="editMode" type="button" class="flex items-center text-center bg-[#ec7063]">
                    <i class='bx bx-x pr-2 text-white'></i>
                    <span class="text-white">เคลียร์ข้อมูล</span>
                </button>

            </div>
        </form>

        <div class="w-full overflow-x-auto  my-3">
            <table mat-table [dataSource]="allCourses" class="mat-elevation-z8">

                <!-- หัวข้อในการอบรม Column -->
                <ng-container matColumnDef="courseName" class="">
                    <th mat-header-cell *matHeaderCellDef
                        class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"> หัวข้อในการอบรม </th>
                    <td mat-cell *matCellDef="let element" class="!px-2 !py-2 text-sm text-slate-600">
                        {{element.courseName}} </td>
                </ng-container>

                <!-- วันเริ่มอบรม Column -->
                <ng-container matColumnDef="startDate">
                    <th mat-header-cell *matHeaderCellDef class="!text-center text-sm font-bold text-black w-[7vw]">
                        วันเริ่มอบรม </th>
                    <td mat-cell *matCellDef="let element" class="!px-2 !py-2 text-sm text-slate-600"> {{
                        changeDate(element.startDate) }} </td>
                </ng-container>

                <!-- วันสิ้นสุดการอบรม Column -->
                <ng-container matColumnDef="endDate">
                    <th mat-header-cell *matHeaderCellDef class="!text-center text-sm font-bold text-black w-[10vw]">
                        วันสิ้นสุดการอบรม </th>
                    <td mat-cell *matCellDef="let element" class="!px-2 !py-2 text-sm text-slate-600">
                        {{changeDate(element.endDate)}} </td>
                </ng-container>

                <!-- เวลา Column -->
                <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef class="!text-center text-sm font-bold text-black w-[13vw]">
                        เวลา </th>
                    <td mat-cell *matCellDef="let element" class="!px-2 !py-2 text-sm text-slate-600"> {{element.time}}
                    </td>
                </ng-container>

                <!-- เพิ่มเติม Column -->
                <ng-container matColumnDef="note">
                    <th mat-header-cell *matHeaderCellDef class="!text-center text-sm font-bold text-black w-[8vw]">
                        เพิ่มเติม </th>
                    <td mat-cell *matCellDef="let element" class="!px-2 !py-2 text-sm text-slate-600"> {{element.note}}
                    </td>
                </ng-container>

                <!-- ค่าใช้จ่าย Column -->
                <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef class="!text-center text-sm font-bold text-black w-[8vw]">
                        ค่าใช้จ่าย </th>
                    <td mat-cell *matCellDef="let element" class="!px-2 !py-2 text-sm text-slate-600"> {{element.price}}
                    </td>
                </ng-container>

                <!-- ผู้จัดอบรม Column -->
                <ng-container matColumnDef="institute">
                    <th mat-header-cell *matHeaderCellDef class="!text-center text-sm font-bold text-black w-[8vw]">
                        ผู้จัดอบรม </th>
                    <td mat-cell *matCellDef="let element" class="!px-2 !py-2 text-sm text-slate-600">
                        {{element.institute}} </td>
                </ng-container>

                <!-- สถานที่ฝึกอบรม Column -->
                <ng-container matColumnDef="place">
                    <th mat-header-cell *matHeaderCellDef class="!text-center text-sm font-bold text-black w-[8vw]">
                        สถานที่ฝึกอบรม </th>
                    <td mat-cell *matCellDef="let element" class="!px-2 !py-2 text-sm text-slate-600"> {{element.place}}
                    </td>
                </ng-container>

                <!-- edit / delete Column -->
                <ng-container matColumnDef="editOrDelete">
                    <th mat-header-cell *matHeaderCellDef
                        class="!text-center text-sm font-bold text-black w-[20vw] !pr-0"> </th>
                    <td mat-cell *matCellDef="let element" class="!pr-0">
                        <div class=" flex justify-center content-center">
                            <button mat-raised-button type="button" (click)="editBtn(element)">
                                <p class="text-[#f39c12]"><i class='bx bx-edit'></i>ปรับปรุงข้อมูล</p>
                            </button>
                            <button mat-raised-button type="button">
                                <p class="text-[#cb4335]"><i class='bx bx-trash'></i>ลบข้อมูล</p>
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class=""></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
    </div>
</div>