<div class="bg-transparent">
    <form [formGroup]="courseForm" (submit)="createTraining()">
        <div class="px-2 py-1 rounded-md lg:py-3 lg:px-6 bg-content shadow-card dark:bg-content-dark dark:shadow-none">
            <p class="text-2xl text-font-header  mt-5 mb-3" id="course-form">ข้อมูลหัวข้อการอบรม</p>
            <!-- part 1 -->
            <div
                class="text-[#566a7f] rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526] mt-5 mb-3">

                <div class="flex flex-row justify-center gap-4 ">
                    <!-- courseName -->
                    <div class="w-3/5 flex gap-2">
                        <label for="courseName" class="w-1/5">หัวข้อในการอบรม:</label>
                        <mat-form-field appearance="fill" class="w-4/5">
                            <input id="courseName" matInput formControlName="courseName" required>
                            <span *ngIf="courseForm.controls.courseName.invalid"
                                class="absolute text-red-700 -right-2 -top-3 dark:text-red-500">*</span>
                            <!-- <mat-error
                                *ngIf="this.courseForm.controls.courseName.invalid">กรุณากรอกหัวข้อในการอบรม</mat-error> -->
                        </mat-form-field>
                    </div>
                    <!-- Date -->
                    <div class="w-2/5 flex">
                        <label for="" class="w-3/12">วันที่ฝึกอบรม:</label>
                        <div class="w-9/12 flex gap-3">
                            <!-- startDate -->
                            <mat-form-field appearance="fill" class="w-5/12">
                                <input id="startDate" matInput placeholder="วันที่เริ่ม" [matDatepicker]="startDate"
                                    (click)="startDate.open()" formControlName="startDate">
                                <mat-datepicker #startDate></mat-datepicker>
                            </mat-form-field>
                            <label for="" class="flex mx-1">ถึง</label>
                            <!-- endDate -->
                            <mat-form-field appearance="fill" class="w-5/12">
                                <input id="endDate" matInput placeholder="วันที่สิ้นสุด" [matDatepicker]="endDatePicker"
                                    (click)="endDatePicker.open()" formControlName="endDate"
                                    [min]="this.courseForm.get('startDate')?.value">
                                <mat-datepicker #endDatePicker></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="flex flex-row justify-center gap-4 ">
                    <div class="w-3/5 flex gap-2">
                        <!-- เวลาที่ -->
                        <div class="w-1/2 flex gap-2">
                            <label for="" class="w-3/12">เวลาที่อบรม:</label>
                            <!-- timeStart -->
                            <mat-form-field appearance="fill" class="w-4/12">
                                <input id="timeStart" matInput placeholder="วันที่เริ่ม" [ngxMatTimepicker]="timeStart"
                                    ngxMatTimepickerTrigger="timeStart" [format]="24" formControlName="timeStart"
                                    required readonly>
                                <ngx-mat-timepicker #timeStart></ngx-mat-timepicker>
                                <!-- <mat-error
                                    *ngIf="this.courseForm.controls.timeStart.invalid">กรุณากรอกวันที่</mat-error> -->
                            </mat-form-field>
                            <label for="" class="flex mx-1">ถึง</label>
                            <!-- timeEnd -->
                            <mat-form-field appearance="fill" class="w-4/12">
                                <input id="timeEnd" matInput placeholder="วันที่สิ้นสุด" [ngxMatTimepicker]="timeEnd"
                                    ngxMatTimepickerTrigger="timeEnd" [format]="24" formControlName="timeEnd" required
                                    readonly>
                                <ngx-mat-timepicker #timeEnd></ngx-mat-timepicker>
                                <span *ngIf="courseForm.controls.timeStart.invalid || courseForm.controls.timeEnd.invalid "
                                class="absolute text-red-700 -right-2 -top-3 dark:text-red-500">*</span>
                                <!-- <mat-error *ngIf="this.courseForm.controls.timeEnd.invalid">กรุณากรอกวันที่</mat-error> -->
                            </mat-form-field>
                        </div>
                        <!-- รวม -->
                        <div class="w-1/2 flex gap-2">
                            <label for="hours" class="mr-6">รวม:</label>
                            <mat-form-field appearance="fill" class="w-3/4">
                                <input id="hours" matInput formControlName="hours" required>
                                <span matSuffix>ชั่วโมง</span>
                                <span *ngIf="courseForm.controls.hours.invalid"
                                class="absolute text-red-700 -right-12 -top-3 dark:text-red-500">*</span>
                                <!-- <mat-error *ngIf="this.courseForm.controls.hours.invalid">กรุณากรอกชั่วโมง</mat-error> -->
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- เพิ่มเติม -->
                    <div class="w-2/5 flex">
                        <label for="note" class="w-1/5">เพิ่มเติม:</label>
                        <mat-form-field appearance="fill" class="w-4/5">
                            <textarea matInput placeholder="เช่น (20-30/5)(13,27/6)"></textarea>
                        </mat-form-field>
                    </div>
                </div>

                <div class="flex flex-row justify-center gap-4">
                    <!-- price -->
                    <div class="w-1/2 flex gap-2">
                        <label for="price" class="w-1/4">ค่าใช้จ่าย/คน:</label>
                        <mat-form-field appearance="fill" class="w-3/4">
                            <input id="price" matInput formControlName="price" required>
                            <span matPrefix class="pr-2">฿ </span>
                            <span matSuffix>บาท/คน (ก่อน Vat7%)</span>
                            <span *ngIf="courseForm.controls.price.invalid"
                                class="absolute text-red-700 -right-40 -top-3 dark:text-red-500">*</span>
                            <!-- <mat-error
                                *ngIf="this.courseForm.controls.price.invalid">กรุณากรอกค่าใช้จ่ายในการอบรม</mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="w-1/2 flex">
                    </div>
                </div>

                <div class="flex flex-row justify-center gap-4">
                    <!-- institute -->
                    <div class="w-1/2 flex gap-2">
                        <label for="institute" class="w-1/4">สถาบันที่จัดอบรม:</label>
                        <mat-form-field appearance="fill" class="w-3/4">
                            <input id="institute" matInput formControlName="institute" required>
                            <span *ngIf="courseForm.controls.institute.invalid"
                                class="absolute text-red-700 -right-2 -top-3 dark:text-red-500">*</span>
                            <!-- <mat-error
                                *ngIf="this.courseForm.controls.institute.invalid">กรุณากรอกสถาบันที่จัดอบรม</mat-error> -->
                        </mat-form-field>
                    </div>
                    <!-- place -->
                    <div class="w-1/2 flex gap-2">
                        <label for="place" class="">สถานที่จัดอบรม:</label>
                        <mat-form-field appearance="fill" class="w-3/4">
                            <textarea d="place" matInput placeholder="" formControlName="place"></textarea>
                            <span *ngIf="courseForm.controls.place.invalid"
                                class="absolute text-red-700 -right-2 -top-3 dark:text-red-500">*</span>
                            <!-- <mat-error
                                *ngIf="this.courseForm.controls.place.invalid">กรุณากรอกสถานที่จัดอบรม</mat-error> -->
                        </mat-form-field>
                    </div>
                </div>

            </div>
            <!-- part  2 -->
            <div class="flex justify-center">
                <button mat-raised-button [disabled]="courseForm.invalid" class="flex items-center text-center text-white {{
                    courseForm.invalid
                      ? 'cursor-not-allowed bg-gray-400 border-2 border-gray-400'
                      : 'cursor-pointer bg-[#696cf8] hover:bg-[#696cf8] hover:text-white border-2 border-[#696cf8]'
                  }}">
                    <i class='bx bx-plus pr-2'></i>
                    บันทึกข้อมูล
                </button>
            </div>
        </div>
    </form>
</div>