<div class="flex flex-col">
  <div class="overflow-x-auto sm:mx-0.5 lg:mx-0.5">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="min-w-full">
          <thead class="bg-white dark:bg-neutral-500 dark:shadow-none border-b ">
            <tr class="border-b-gray-300 border-b-2">
              <th scope="col" class="text-sm font-medium text-gray-900 dark:text-gray-200 px-6 py-4 text-left w-1/5">
                ORGANIZER
              </th>
              <th scope="col" class="text-sm font-medium text-gray-900 dark:text-gray-200 px-6 py-4 text-left w-4/5">
                SUBJECT
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="bg-gray-100 dark:bg-neutral-400 border-b">
              <td class="text-sm text-slate-500 dark:text-white font-light px-6 py-4 whitespace-nowrap">
                Vanee Thammapimukkul
              </td>
              <td class="text-sm text-slate-500 dark:text-white font-light px-6 py-4 whitespace-nowrap">
                แก้ไขรูป Background สารสรเทศหลัก
              </td>
            </tr>
            <tr class="bg-white dark:bg-neutral-300 border-b">
              <td class="text-sm text-slate-500 dark:text-white font-light px-6 py-4 whitespace-nowrap">
                Suphakrid Muangkotara
              </td>
              <td class="text-sm text-slate-500 dark:text-white font-light px-6 py-4 whitespace-nowrap">
                ประชุมหารือเรื่องการปิดช่องโหว่จากที่ได้รับรายงานผล VA และ Pentest จาก ศทส. ล่าสุด
              </td>
            </tr>
            <tr class="bg-gray-100 dark:bg-neutral-400 border-b">
              <td class="text-sm text-slate-500 dark:text-white font-light px-6 py-4 whitespace-nowrap">
                Sornnarin Leenachunangkul
              </td>
              <td class="text-sm text-slate-500 dark:text-white font-light px-6 py-4 whitespace-nowrap">
                [CGD] ปัญหาเรื่อง template line spacing
              </td>
            </tr>
            <tr class="bg-white dark:bg-neutral-300 border-b">
              <td class="text-sm text-slate-500 dark:text-white font-light px-6 py-4 whitespace-nowrap">
                Suphakrid Muangkotara
              </td>
              <td class="text-sm text-slate-500 dark:text-white font-light px-6 py-4 whitespace-nowrap">
                CGD-0004-63 (Microservices): ประชุมหารือเรื่องการปิดช่องโหว่จากที่ได้รับรายงานผล VA และ Pentest จาก ศทส. ล่าสุด
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


