.open-year-toggle {
  display: none;
}

.open-year-toggle:checked ~ label > div > div > .bx-chevron-down {
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.open-year-toggle:not(:checked) ~ label > div > div > .bx-chevron-down {
  transform: rotate(0deg);
  transition: transform 0.2s linear;
}
.open-year-menu {
  display: none;
  opacity: 0;
  transition: display 0.2s, opacity 0.2s linear;
}

.open-year-toggle:checked ~ .open-year-menu {
  display: block;
  opacity: 1;
}
