<form [formGroup]="budgetForm">
  <div
    class="px-2 py-1 rounded-md lg:py-3 lg:px-6 bg-content shadow-card dark:bg-content-dark dark:shadow-none mt-5 mb-3"
  >
    <p class="text-2xl text-gray-500 mt-5 mb-3">งบประมาณประจำปี</p>
    <div
      class="text-[#566a7f] mt-5 mb-3 rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526]"
    >
      <div class="mb-5">
        <mat-radio-group
          formControlName="company"
          class="flex space-x-4"
          (change)="genDeptsByCompanyName()"
        >
          <mat-radio-button id="pcc" value="PCCTH" color="primary" checked
            >PCCTH</mat-radio-button
          >
          <mat-radio-button id="ws" value="WiseSoft" color="primary"
            >WiseSoft</mat-radio-button
          >
        </mat-radio-group>
      </div>
      <div class="flex-col lg:flex-row">
        <mat-label class="self-center w-full" for="budgetYear"
          >ฝึกอบรมรายปี</mat-label
        >
        <mat-form-field appearance="fill" class="w-full lg:w-[35%] mx-3">
          <input
            matInput
            id="budgetYear"
            formControlName="budgetYear"
            type="text"
            placeholder="โปรดระบุปี พ.ศ. ที่ต้องการ"
          />
          <mat-error *ngIf="this.budgetForm.controls.budgetYear.invalid"
            >กรุณากรอกข้อมูล
          </mat-error>
        </mat-form-field>
        <mat-label class="self-center w-full" for="dept">ฝ่าย/แผนก</mat-label>
        <mat-form-field appearance="fill" class="w-full lg:w-[35%] mx-3">
          <mat-label>ฝ่าย/แผนก</mat-label>
          <mat-select
            formControlName="dept"
            id="dept"
            (click)="checkCompanySelected()"
            [disabled]="!depts.length"
          >
            <mat-option value="" disabled selected>เลือกแผนก</mat-option>
            <mat-option *ngFor="let dept of depts" [value]="dept">{{
              dept
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="this.budgetForm.controls.dept.invalid"
            >กรุณาเลือกผ่ายที่ต้องการ
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div
      class="text-[#566a7f] mt-2 mb-3 rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526]"
    >
      <div class="flex-col lg:flex-row">
        <mat-label class="self-center w-full lg:w-[15%] mr-3" for="udgetTrain"
          >งบประมาณการอบรม</mat-label
        >
        <mat-form-field appearance="fill" class="w-full lg:w-[20%]">
          <input
            matInput
            id=" budgetTrain"
            formControlName="budgetTrain"
            type="text"
            (keypress)="onInputKeyPressFee($event)"
            (blur)="onBlurFee($event, 0)"
            placeholder="0.00"
          />
          <span matPrefix class="pr-2">฿ </span>
          <span matSuffix>บาท</span>
          <mat-error *ngIf="this.budgetForm.controls.budgetTrain.invalid"
            >กรุณากรอกข้อมูล
          </mat-error>
        </mat-form-field>
        <mat-label class="self-center w-full lg:w-[15%] ml-5" for="budgetCer"
          >งบประมาณการสอบ</mat-label
        >
        <mat-form-field appearance="fill" class="w-full lg:w-[20%] mx-3">
          <input
            matInput
            id="budgetCer"
            formControlName="budgetCer"
            type="text"
            (keypress)="onInputKeyPressAccommodation($event)"
            (blur)="onBlurFee($event, 1)"
            placeholder="0.00"
          />
          <span matPrefix class="pr-2">฿ </span>
          <span matSuffix>บาท</span>
          <mat-error *ngIf="this.budgetForm.controls.budgetCer.invalid"
            >กรุณากรอกข้อมูล
          </mat-error>
        </mat-form-field>
        <mat-label class="self-center w-full lg:w-[15%] ml-5" for="budgetTotal"
          >งบประมาณรวม</mat-label
        >
        <mat-form-field appearance="fill" class="w-full lg:w-[20%] mx-3">
          <input
            matInput
            readonly
            id="budgetTotal"
            formControlName="budgetTotal"
            type="text"
            (focus)="onTotalBudget()"
            placeholder="0.00"
          />
          <span matPrefix class="pr-2">฿ </span>
          <span matSuffix>บาท</span>
          <mat-error *ngIf="this.budgetForm.controls.budgetTotal.invalid"
            >กรุณากรอกข้อมูล
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex justify-center gap-x-1">
      <button
        (click)="onSave()"
        mat-raised-button
        type="button"
        [disabled]="budgetForm.invalid"
        color="primary"
        class="w-full lg:w-[45%] flex items-center text-center {{
          budgetForm.invalid
            ? 'cursor-not-allowed bg-gray-400 border-2 border-gray-400'
            : 'cursor-pointer bg-[#696cf8] hover:bg-[#696cf8] !text-white hover:!text-white border-2 border-[#696cf8]'
        }}"
      >
        <i
          class="fa-solid fa-plus mr-1 {{
            budgetForm.invalid ? '' : 'text-white'
          }}"
        ></i
        ><span class="{{ budgetForm.invalid ? '' : 'text-white' }}"
          >เพื่มข้อมูล</span
        >
      </button>
      <button
        mat-stroked-button
        color="primary"
        (click)="clear()"
        class="w-full lg:w-[45%]"
      >
        <i class="fas fa-sync-alt mr-1"></i>
        <span> เคลียร์ข้อมูล</span>
      </button>
    </div>
  </div>
</form>
<div
  class="text-[#566a7f] mt-2 mb-3 rounded-md shadow p-6 w-full bg-gray-100 dark:text-[#e4e6eb] dark:bg-[#242526]"
>
  <div class="w-full overflow-x-auto">
    <table
      mat-table
      [dataSource]="dataSource"
      class="mat-elevation-z8 !shadow-md"
    >
      <ng-container matColumnDef="year">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        >
          ปี
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        >
          {{ number(element.year) }}
        </td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        >
          บริษัท
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        >
          {{ element.company }}
        </td>
      </ng-container>
      <ng-container matColumnDef="departmentCode">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        >
          ฝ่าย
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-center"
        >
          {{ element.departmentCode }}
        </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="budgetTraining">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-right text-sm font-bold text-black w-[12vw] !pl-0"
        >
          งบประมาณการอบรม
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-right"
        >
          {{ element.budgetTraining | number : "1.2-2" }}
        </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="budgetCer">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-right text-sm font-bold text-black w-[12vw] !pl-0"
        >
          งบประมาณการสอบ
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="!px-2 !py-2 text-sm text-slate-600 !text-right"
        >
          {{ element.budgetCer | number : "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="totalExp">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-right text-sm font-bold text-black w-[12vw] !pl-0"
        >
          งบประมาณรวม
        </th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-sm text-slate-600 !text-right"
        >
          {{ element.totalExp | number : "1.2-2" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th
          mat-header-cell
          *matHeaderCellDef
          class="!text-center text-sm font-bold text-black w-[12vw] !pl-0"
        ></th>
        <td
          mat-cell
          *matCellDef="let element"
          class="text-sm text-slate-600 !text-right"
        >
          <button
            mat-stroked-button
            color="primary"
            (click)="onEdit(element)"
            class="clear-button"
          >
            <i class="fas fa-sync-alt mr-1"></i>
            <span> แก้ไข</span>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageSize]="5"
    [pageSizeOptions]="[5, 10]"
    class="mat-elevation-z8 !shadow-md"
  ></mat-paginator>
</div>
