::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5vw;
}
::ng-deep .mat-form-field-flex {
  display: inline-flex;
  align-items: center !important;
  box-sizing: border-box;
  width: 100%;
}
::ng-deep input.mat-input-element {
  margin-bottom: 0.25em;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white;
  border-radius: 0.4rem;
}

::ng-deep .self-center-cm {
  position: relative;
  top: 15px;
}

::ng-deep .clear-button {
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
}

::ng-deep .clear-button:hover {
  border-color: #2196f3 !important;
  color: #2196f3 !important;
  background-color: rgba(33, 150, 243, 0.1) !important;
}

::ng-deep .clear-button:hover span {
  color: #2196f3 !important;
}

::ng-deep .clear-button:hover i {
  color: #2196f3 !important;
}
