<div class="bg-transparent w-full dark:text-[#e4e6eb]">
  <p class="text-2xl text-font-header mt-5 mb-3">รายละเอียดผู้อนุมัติ</p>

  <div
    class="text-[#566a7f] rounded-lg shadow p-6 w-full bg-content shadow-card dark:bg-content-dark dark:shadow-none mb-3 w-full dark:text-[#e4e6eb]"
  >
    <form [formGroup]="approverForm">
      <!-- row1 -->
      <div class="flex flex-col lg:flex-row justify-center gap-4 w-full">
        <div class="w-full lg:w-[50%] flex flex-col lg:flex-row items-center">
          <label for="fullName" class="w-full lg:w-[25%] 2xl:pl-[4%]"
            >ชื่อ-นามสกุล:</label
          >
          <div class="w-full lg:w-[75%] flex">
            <mat-form-field appearance="fill" class="w-full">
              <input
                id="fullName"
                matInput
                formControlName="fullName"
                readonly
              />
            </mat-form-field>
          </div>
        </div>

        <div class="w-full lg:w-[50%] flex flex-col lg:flex-row items-center">
          <label for="position" class="w-full lg:w-[25%] 2xl:pl-[4%]"
            >ตำแหน่ง:</label
          >
          <div class="w-full lg:w-[75%] flex">
            <mat-form-field appearance="fill" class="w-full">
              <input
                id="position"
                matInput
                formControlName="position"
                readonly
              />
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- row2 -->
      <div class="flex flex-col lg:flex-row justify-center gap-4 w-full">
        <div class="w-full lg:w-[50%] flex flex-col lg:flex-row items-center">
          <label for="company" class="w-full lg:w-[25%] 2xl:pl-[4%]"
            >บริษัท:</label
          >
          <div class="w-full lg:w-[75%] flex">
            <mat-form-field appearance="fill" class="w-full">
              <input id="company" matInput formControlName="company" readonly />
            </mat-form-field>
          </div>
        </div>

        <div class="w-full lg:w-[50%] flex flex-col lg:flex-row items-center">
          <div class="w-full lg:w-[50%] flex flex-col lg:flex-row items-center">
            <label for="sectorCode" class="w-full lg:w-[25%] 2xl:pl-[4%]"
              >ฝ่าย:</label
            >
            <div class="w-full lg:w-[75%] flex">
              <mat-form-field appearance="fill" class="w-full">
                <input
                  id="sectorCode"
                  matInput
                  formControlName="sectorCode"
                  readonly
                />
              </mat-form-field>
            </div>
          </div>
          <div class="w-full lg:w-[50%] flex flex-col lg:flex-row items-center">
            <label for="deptCode" class="w-full lg:w-[25%] 2xl:pl-[4%]"
              >แผนก:</label
            >
            <div class="w-full lg:w-[75%] flex">
              <mat-form-field appearance="fill" class="w-full">
                <input
                  id="deptCode"
                  matInput
                  formControlName="deptCode"
                  readonly
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </div>
    </form>

    <p class="text-2xl text-font-header mt-5 mb-3">เพิ่มสิทธิ์</p>
    <form [formGroup]="approverManageForm">
      <div class="flex flex-col lg:flex-row gap-4 w-full items-stretch">
        <div class="flex flex-col gap-y-2 self-center">
          <mat-radio-group formControlName="dataCompany" class="pb-3">
            <mat-radio-button value="PCCTH" class="mx-1"
              >PCCTH</mat-radio-button
            >
            <mat-radio-button value="WiseSoft" class="mx-1"
              >WiseSoft</mat-radio-button
            >
          </mat-radio-group>
        </div>

        <!-- TODO: dept(แผนก) >> ทุก role | sector(ฝ่าย) >> role 'VicePresident'-->
        <mat-form-field appearance="fill">
          <mat-label>{{
            isVicePresident ? "เลือกฝ่าย" : "เลือกแผนก"
          }}</mat-label>
          <mat-select formControlName="dataDeptOrSector">
            <mat-option *ngFor="let item of deptOrSectorList" [value]="item">{{
              item.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="flex flex-col gap-y-2 self-center pb-4">
          <button
            mat-raised-button
            type="button"
            (click)="addPrivilegeBtn()"
            class="flex items-center text-center bg-[#696cf8] !text-white hover:!text-white border-2 border-[#696cf8] dark:bg-[#696cf8]"
          >
            <span class="text-white dark:text-white">เพิ่มสิทธิ์</span>
          </button>
        </div>
      </div>
    </form>

    <p class="text-xl mt-2 mb-3">ฝ่าย/แผนกที่รับผิดชอบ</p>
    <div class="w-full overflow-x-auto mt-3 rounded-t-lg shadow-card">
      <table
        mat-table
        [dataSource]="dataSourceTable1"
        class="mat-elevation-z8 w-full table-fixed"
        matSort
      >
        <ng-container matColumnDef="company" class="">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark text-sm font-semibold text-slate-500 w-40 lg:w-[15%] !px-2 xl:!pl-[2%]"
          >
            บริษัท
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 xl:!pl-[2%] !py-2 text-sm text-slate-600 w-40 lg:w-[15%] whitespace-pre-line overflow-auto"
          >
            {{ element.company }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sectorCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark !px-2 text-sm font-semibold text-slate-500 w-24 lg:w-[10%]"
          >
            รหัสฝ่าย
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 !py-2 text-sm text-slate-600 w-24 lg:w-[10%]"
          >
            {{ element.sectorCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="sectorName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark !px-2 text-sm font-semibold text-slate-500 w-28 lg:w-[25%]"
          >
            ฝ่าย
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 !py-2 text-sm text-slate-600 w-28 lg:w-[25%]"
          >
            {{ element.sectorName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deptCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark text-sm font-semibold text-slate-500 w-24 lg:w-[15%] !px-2"
          >
            รหัสแผนก
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 !py-2 text-sm text-slate-600 w-24 lg:w-[15%]"
          >
            {{ element.deptCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deptName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark !px-2 text-sm font-semibold text-slate-500 w-24 lg:w-[15%]"
          >
            แผนก
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 !py-2 text-sm text-slate-600 w-24 lg:w-[15%]"
          >
            {{ element.deptName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="revoke">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark !text-center text-sm font-semibold text-slate-500 !px-2 w-60 lg:w-[25%]"
          ></th>
          <td
            mat-cell
            *matCellDef="let element"
            class="!px-2 text-sm w-60 lg:w-[25%] bg-content dark:bg-[#2d2e2f]"
          >
            <div class="flex justify-center content-center">
              <button
                mat-raised-button
                type="button"
                (click)="cancelPrivilegeBtn(element)"
                class="flex items-center text-center bg-red-600 !text-white dark:bg-red-700"
              >
                <span class="text-white dark:text-white">ยกเลิกสิทธิ์</span>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns1" class=""></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
      </table>
    </div>
    <mat-paginator
      #paginator1
      [pageSize]="5"
      [pageSizeOptions]="[5, 10]"
      class="rounded-b-lg bg-content dark:bg-content-dark shadow-card"
    ></mat-paginator>
  </div>

  <p class="text-2xl text-font-header mt-5 mb-3 text-center">
    รายชื่อผู้มีอำนาจลงนามอนุมัติ
  </p>
  <div
    class="text-[#566a7f] rounded-lg shadow p-6 w-full bg-content shadow-card dark:bg-content-dark dark:shadow-none mb-3 w-full dark:text-[#e4e6eb]"
  >
    <div class="w-full overflow-x-auto mt-3 rounded-t-lg shadow-card">
      <table
        mat-table
        [dataSource]="dataSourceTable2"
        class="mat-elevation-z8 w-full table-fixed"
      >
        <ng-container matColumnDef="company" class="">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark text-sm font-semibold text-slate-500 w-40 lg:w-[15%] !px-2 xl:!pl-[2%]"
          >
            บริษัท
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 xl:!pl-[2%] !py-2 text-sm text-slate-600 w-40 lg:w-[15%] whitespace-pre-line overflow-auto"
          >
            {{ element.company.companyName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="empCode">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark !px-2 text-sm font-semibold text-slate-500 w-24 lg:w-[15%]"
          >
            รหัสพนักงาน
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 !py-2 text-sm text-slate-600 w-24 lg:w-[15%]"
          >
            {{ element.empCode }}
          </td>
        </ng-container>

        <ng-container matColumnDef="fullName">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark !px-2 text-sm font-semibold text-slate-500 w-28 lg:w-[25%]"
          >
            ชื่อ-นามสกุล
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 !py-2 text-sm text-slate-600 w-28 lg:w-[25%]"
          >
            {{ element.firstname }} {{ element.lastname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="position">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark text-sm font-semibold text-slate-500 w-24 lg:w-[25%] !px-2"
          >
            ตำแหน่ง
          </th>
          <td
            mat-cell
            *matCellDef="let element"
            class="bg-content dark:bg-[#2d2e2f] !px-2 !py-2 text-sm text-slate-600 w-24 lg:w-[25%]"
          >
            {{ element.roleTH }}
          </td>
        </ng-container>

        <ng-container matColumnDef="assignPrivilege">
          <th
            mat-header-cell
            *matHeaderCellDef
            class="bg-content dark:bg-content-dark !text-center text-sm font-semibold text-slate-500 !px-2 w-60 lg:w-[20%]"
          ></th>
          <td
            mat-cell
            *matCellDef="let element"
            class="!px-2 text-sm w-60 lg:w-[20%] bg-content dark:bg-[#2d2e2f]"
          >
            <div class="flex justify-center content-center">
              <button
                mat-raised-button
                type="button"
                (click)="settingPrivilegeBtn(element)"
                class="flex items-center text-center bg-green-500 !text-white dark:bg-green-600"
              >
                <span class="text-white dark:text-white">กำหนดสิทธิ์</span>
              </button>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2" class=""></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
    </div>
    <mat-paginator
      #paginator2
      [pageSize]="5"
      [pageSizeOptions]="[5, 10]"
      class="rounded-b-lg bg-content dark:bg-content-dark shadow-card"
    ></mat-paginator>
  </div>
</div>
