<div class="bg-transparent w-full">
  <div class="rounded-md bg-content shadow-card dark:bg-content-dark dark:shadow-none">
    <div class="mx-1 my-1 p-6">
      <div>
        <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
          [plotOptions]="chartOptions.plotOptions" [title]="chartOptions.title" [stroke]="chartOptions.stroke"
          [legend]="chartOptions.legend" [plotOptions]="chartOptions.plotOptions" [grid]="chartOptions.grid"></apx-chart>
      </div>
    </div>
  </div>
</div>
