<div class="p-6 rounded-md bg-content shadow-card dark:bg-content-dark dark:shadow-none">
  <div class="grid grid-flow-col grid-rows-3 gap-y-4">
    <div class="flex flex-col items-center flex-auto p-6 border-2 rounded-md gap-y-5 gap-x-6 border-gray-300/60 md:flex-row md:gap-y-0 md:items-start dark:border-gray-100/5">
      <div>
        <div class="w-[14rem] h-[9rem]">
          <img src="https://data.pccth.com/sd/vendor/assets/img/bg-showcase-1.jpg" class="w-full h-full" alt="image-people">
        </div>
      </div>
      <div>
        <p class="mt-4 text-sm font-medium text-font-description dark:text-font-description-dark">
          การพัฒนาระบบงานของบริษัท Professional Computer จำกัด ในปี 2563 มีการเริ่มการพัฒนา Front-end ด้วย Angular JS และมีการพัฒนา API ด้วย Spring boot ที่เป็น Java Platform.
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center flex-auto p-6 border-2 rounded-md gap-y-5 gap-x-6 border-gray-300/60 md:flex-row-reverse md:gap-y-0 md:items-start dark:border-gray-100/5">
      <div>
        <div class="w-[14rem] h-[9rem]">
          <img src="https://data.pccth.com/sd/vendor/assets/img/bg-showcase-2.jpg" class="w-full h-full" alt="image-code">
        </div>
      </div>
      <div>
        <div>
          <h3 class="text-xl font-medium text-font-header dark:text-font-header-dark">Data Platform Ready !</h3>
        </div>
        <p class="mt-4 text-sm font-medium text-font-description dark:text-font-description-dark">
          ในยุคแห่งการที่ข้อมูลเป็นสิ่งสำคัญ ทางบริษัท มีความสนใจในการบรูณาการข้อมูล การนำข้อมูลมาวิเคราะห์ สร้างทางเลือกในการตัดสินใจ และ ความปลอดภัยของข้อมูล เพื่อประโยชน์ของลูกค้าเป็นสำคัญ
        </p>
      </div>
    </div>
    <div class="flex flex-col items-center flex-auto p-6 border-2 rounded-md gap-y-5 gap-x-6 border-gray-300/60 md:flex-row md:gap-y-0 md:items-start dark:border-gray-100/5">
      <div>
        <div class="w-[14rem] h-[9rem]">
          <img src="https://data.pccth.com/sd/vendor/assets/img/bg-showcase-3.png" class="w-full h-full" alt="image-cloud">
        </div>
      </div>
      <div>
        <div>
          <h3 class="text-xl font-medium text-font-header dark:text-font-header-dark">WHAT WE DO</h3>
        </div>
        <p class="mt-4 text-sm font-medium text-font-description dark:text-font-description-dark">
          We provide engineering service for IT infrastructure and IT system construction from network system planning and design to deployment of the most appropriate equipment, construction, operation and maintenance.
        </p>
      </div>
    </div>
  </div>
</div>
