<div class="bg-content dark:bg-content-dark rounded-md drop-shadow-md p-4">
  <table class="table-auto w-full">
    <thead class="bg-content p-2 dark:bg-content-dark">
      <tr class="p-4">
        <th class="text-start p-4">บริษัท</th>
        <th class="text-start p-4">รหัสพนักงาน</th>
        <th class="text-start p-4">ชื่อ - นามสกุล</th>
        <th class="text-start p-4">หัวข้อในการอบรม/สัมมนา</th>
        <th class="text-start p-4">ประเภทฟอร์ม</th>
        <th>
          <button mat-flat-button class="!bg-green-500 dark:!bg-green-600 !scale-110">
            <span class="!text-white space-x-2"
              > <i class='bx bx-check'></i> ยืนยันการสร้างแบบฟอร์ม
            </span>
          </button>
        </th>
      </tr>
    </thead>
    <tbody class="bg-content dark:bg-content-dark">
      <tr *ngFor="let item of trainingList; let i = index">
        <td class="p-4">{{ item.company }}</td>
        <td class="p-4">{{ item.employeeId }}</td>
        <td class="p-4">{{ item.employeeName }}</td>
        <td class="p-4">{{ item.courseName}}</td>
        <td class="p-4">{{ item.formsType | formsTypeTranslate }}</td>
        <td class="p-4">
          <button (click)="removeTrainning(i)" mat-flat-button color="warn">
            <span class="!text-white space-x-2"
              >ลบ <i class="bx bxs-trash"></i>
            </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
