<div class="bg-content dark:bg-content-dark rounded-md drop-shadow-md p-4">
  <table class="table-auto w-full">
    <thead class="bg-content p-2 dark:bg-content-dark">
      <tr class="p-4">
        <th class="text-start p-4">บริษัท</th>
        <th class="text-start p-4">รหัสพนักงาน</th>
        <th class="text-start p-4">ชื่อ - นามสกุล</th>
        <th class="text-start p-4">หัวข้อในการอบรม/สัมมนา</th>
        <th></th>
      </tr>
    </thead>
    <tbody class="bg-content dark:bg-content-dark">
      <tr>
        <td class="p-4">PCCTH</td>
        <td class="p-4">123456</td>
        <td class="p-4">ชื่อ - นามสกุล</td>
        <td class="p-4">หัวข้อในการอบรม/สัมมนา</td>
        <td class="p-4">
          <button mat-flat-button color="warn">
            <span class="!text-white space-x-2"
              >ลบ <i class="bx bxs-trash"></i>
            </span>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
